{% extends "standard_page.html.twig" %}


{% block fixed_image %}
    {#<img src="/images/temp-corner-img.png" alt="" class="corner-img reveal-left">#}
{% endblock %}

{% block sub_content %}
    {{ page.page_vars.content|raw }}
{% endblock %}
