{% extends "layout.html.twig" %}

{% block content %}
    <img src="/upload/background/500/{{ page.bkg_image }}" class="responsive_only" /><br>
<div class="tagline">{{ page.page_vars.heading }}</div>
{% endblock %}
