<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
<head>
{% if (page.id==40) %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='100214211-3',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
    <meta charset="utf-8">
    <title>{{ page.meta_title }}</title>
    <!-- META DATA -->
    <meta name="p:domain_verify" content="e9dd83080dbf8e5f523e220599df87c2"/> 
    <meta name="msvalidate.01" content="ABB4309658DE4780137BA185EFB834BB" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="theme-color" content="#24646B">
    <meta name="description" content="{{ page.meta_description }}">

    <!-- MISC TAGS -->
    <link rel="canonical" href="{{ page.canonical_url }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- CSS STYLES -->
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,300,700,900,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/lib/bower_components/magnific-popup/dist/magnific-popup.css">
    <link href="/lib/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/jqueryui/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/colpick/css/colpick.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.7.0/jquery.selectBoxIt.css" />
    <link rel="stylesheet" href="/lib/bower_components/magnific-popup/dist/magnific-popup.css">
    <link href="/global.css?2" rel="stylesheet" type="text/css"/>

    <!-- JAVASCRIPT -->
    <script src="/lib/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/bower_components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="/lib/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/lib/bootstrap-3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/lib/vgrid/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/lib/vgrid/jquery.vgrid.min.js" type="text/javascript"></script>
    <script src="/lib/slick/slick.js" type="text/javascript"></script>
    <script src="/lib/Snap.svg-0.3.0/dist/snap.svg-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.7.0/jquery.selectBoxIt.min.js"></script>
    <script type="text/javascript" src="/lib/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/lib/noty/layouts/top.js"></script>
    <script type="text/javascript" src="/lib/noty/themes/revamp.js"></script>
    <script type="text/javascript" src="/lib/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/lib/waypoints/shortcuts/sticky.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/respondjs/respond.min.js"></script>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ page.head|raw }}

    <style type="text/css">
        html{
            background-image:url('/upload/background/2400/{{ page.bkg_image }}');
        }
    </style>

    <script type="text/javascript">
        $(function(){
            $(".btn-navbar").click(function () {
                $(this).toggleClass("open");
            });

            $('.pic_container').magnificPopup({
                type: 'image',
                gallery: { enabled: true }
            });

            try {
                var sticky = new Waypoint.Sticky({
                    element: $('.filter-menu')[0]
                });
            }catch(err){

            }

            {% for message in messages %}
                noty({text: '{{ message }}', type: 'success', dismissQueue: true});
            {% endfor %}
            {% for error in errors %}
                noty({text: '{{ error }}', type: 'error', dismissQueue: true});
            {% endfor %}
        });
    </script>
</head>
<body id="{{ page.keyword }}" class="{{ page.template }}">
<div class="container-fluid" id="container">
    <div class="row row-offcanvas row-offcanvas-left"
         {% if (page.template=='pattern') or (page.template=='product_use') %}
            itemscope itemtype="http://schema.org/Product"
         {% endif %}>
        <div id="sidebar" role="navigation">
            <div id="sidebar-nav">
                <div id="sidebar-vertical-centered">
                    <nav class="navbar navbar-default">
                        <a href="/"><img src="/images/logo.png" alt="revamp" id="logo"/></a>
                        <button class="btn btn-navbar" type="button" data-toggle="collapse" data-target="#nav">
                            Menu
                            <div class="menu_hamburger">
                                <span class="lines"></span>
                            </div>
                        </button>
                        <div id="nav" class="navbar-collapse collapse nav with-stucknav">
                            {% include "nav.html.twig" with {options: nav_options} %}
                        </div>
                        <!--<a href="/shop-now" class="prm-btn">Shop Now</a>-->
                    </nav>
                </div>
            </div>
            <footer>
                <ul>
                    {% for nav in fnav %}
                        <li><a href="/{{ nav.keyword }}">{{ nav.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com/revamppanels" target="_blank"><i class="fa fa-fw fa-facebook-square"></i></a>
                    <a href="https://instagram.com/revamppanels/" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/revamp-panels" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i></a>
                </div>
                <div id="copyrights">
                    <span title="Copyright &copy;{{ "now"|date("Y") }} FMA Products, dba Revamp. All rights reserved.">Copyright &copy;{{ "now"|date("Y") }} Revamp Panels, LLC All rights reserved</span><br>
                </div>
                <a href="/terms">Terms & Conditions</a> |
                <a href="/">Privacy Policy</a>
            </footer>
            {% block sidebar %}{% endblock %}
        </div>
        <div id="main" class="cf {% if page.page_vars.sidebar %} has-sidebar {% endif %}">
            <div id="maxwidth">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61392832-1', 'auto');

    ga('send', 'pageview');

</script>


</body>
</html>

