<ul class="{{ ul_class }}">
	{% for sub in nav %}
		<li class="nav_{{ sub.keyword }} {{ sub.link_class }} {% if sub.subs %}dropdown{% endif %}">
			<a href="{{ sub.link }}" class="{{ sub.link_class }}">
				{{ options.before_html|raw }}
				{{ sub.title }}
				{% if sub.subs %}
					{{ options.subnav_marker|raw }}
				{% endif %}
				{{ options.after_html|raw }}
			</a>
			{% if sub.subs %}
            <div class="dropdown-menu">
				{% include _self with {nav: sub.subs} %}
                </div>
			{% endif %}
		</li>
	{% endfor %}
</ul>
