{% extends "layout.html.twig" %}

{% block sidebar %}
    {% include "sidebar.html.twig" %}
{% endblock %}

{% block content %}
    {% if page.page_vars.heading is defined %}
        <h1  itemprop="name">{{ page.page_vars.heading|markdown }}</h1>
    {% endif %}
    <div itemprop="description">{{ page.page_vars.content|raw }}</div>
    {{ page.gallery|raw }}


    {% if page.page_vars.related %}
        <br><br>
        <div class="related-products cf">
            <h5>Suggested Accessories</h5>
            <div id="patterns-grid" class="product-use">
                {% for p in page.page_vars.related %}
                    <div class="pattern-item" data-id="{{ p.id }}">
                        <div class="pattern-title">
                            <a class="panel-link" href="/product?id={{ p.id }}">
                                {{ p.title }}
                            </a>
                        </div>
                        <div class="pattern-image">
                            {% if p.image %}
                                <a class="panel-link" href="/product?id={{ p.id }}">
                                    <img src="/upload/photos/400/{{ p.image }}" alt="" />
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
