/* Clear fix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}
.rightlink {
  display: block;
  text-align: right;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.right {
  text-align: right;
}
.pad {
  padding: 10px;
}
html {
  height: 100%;
}
p {
  margin: 12px 0px;
}
/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  background: #322d26;
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #f4f1ed;
}
.navbar-fixed-top {
  border: 0;
}
.navbar-nav a.current {
  background-color: #968875;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand {
  font-size: 25px;
  line-height: 40px;
  height: 70px;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar-offcanvas {
  display: none;
  padding: 0px;
  padding-top: 0px;
  color: #c8b9a6;
  background-color: #4f473c;
}
.sidebar-offcanvas a {
  color: #f4f1ed;
  font-weight: bold;
  border-bottom: solid 1px #6c6152;
}
.sidebar-offcanvas a:hover {
  color: #f4f1ed;
  background: #e5ded5;
}
.nav-sidebar > li > a:focus,
.navbar-right > li > a:focus,
.nav-sidebar > li > a:hover,
.navbar-right > li > a:hover {
  background-color: #6c6152;
  color: #f4f1ed;
}
@media (min-width: 768px) {
  .sidebar-offcanvas {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: 0;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }
  .sidebar-offcanvas {
    position: fixed;
    top: 70px;
    width: 33%;
    height: 100%;
    margin-left: 0px;
  }
  .active .sidebar-offcanvas {
    display: block;
  }
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .current > a,
.nav-sidebar > .current > a:hover,
.nav-sidebar > .current > a:focus {
  color: #fff;
  background-color: #968875;
}
/*
 * Main content
 */
.main {
  padding: 40px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.controls-panel {
  background: #e5ded5;
  position: fixed;
  width: 13%;
  margin-top: 73px;
  padding-bottom: 15px;
}
.controls-panel .btn {
  display: block;
  width: 100%;
  margin: 7px 0px;
  text-align: left;
}
@media screen and (max-width: 1199px) {
  .controls-panel {
    background: none;
    position: relative;
    width: auto;
    padding-bottom: 0px;
  }
  .controls-panel h3 {
    display: none;
  }
  .controls-panel .btn {
    display: inline-block;
    width: auto;
    margin: 10px;
  }
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.btn-default,
.ui-state-default .btn-default {
  color: #FFF;
  background-color: #4f473c;
  border-color: #4f473c;
}
.btn-default:hover,
.ui-state-default .btn-default:hover,
.btn-default:focus,
.ui-state-default .btn-default:focus,
.btn-default:active,
.ui-state-default .btn-default:active,
.btn-default.active,
.ui-state-default .btn-default.active,
.btn-default:visited,
.ui-state-default .btn-default:visited,
.btn-default:link,
.ui-state-default .btn-default:link,
.btn-default.btn-hover,
.ui-state-default .btn-default.btn-hover {
  color: #FFF;
  background-color: #413a31;
}
.btn-primary,
.ui-state-default .btn-primary {
  color: #FFF;
  background-color: #77a920;
  border-color: #77a920;
}
.btn-primary:hover,
.ui-state-default .btn-primary:hover,
.btn-primary:focus,
.ui-state-default .btn-primary:focus,
.btn-primary:active,
.ui-state-default .btn-primary:active,
.btn-primary.active,
.ui-state-default .btn-primary.active,
.btn-primary:visited,
.ui-state-default .btn-primary:visited,
.btn-primary:link,
.ui-state-default .btn-primary:link {
  color: #FFF;
  background-color: #68941c;
}
.btn-success {
  color: #FFF;
  background-color: #77a920;
  border-color: #77a920;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #FFF;
  background-color: #68941c;
  border-color: #77a920;
}
.btn-cancel {
  color: #FFF;
  background-color: #b72e23;
  border-color: #b72e23;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active,
.open .dropdown-toggle.btn-cancel {
  color: #FFF;
  background-color: #a2291f;
  border-color: #b72e23;
}
.note,
.field_note {
  color: #888;
  font-size: 90%;
}
.small {
  font-size: 80%;
}
.r {
  text-align: right;
}
.nw {
  white-space: nowrap;
}
a {
  color: #b72e23;
}
a img {
  border: 0;
}
/******** misc ********/
.feedback_container {
  display: none;
}
.section {
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
}
.section > h1,
.section > h2,
.section > h3 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.section .section_content {
  padding: 10px;
}
.paginator > a {
  padding: 3px;
  margin: 1px;
}
.paginator a.current {
  background: #b72e23;
  color: #FFFFFF;
}
/******** list table ********/
tr.odd {
  background-color: #fafafa;
}
.alt0 {
  background-color: #eaeaea;
}
.alt1 {
  background-color: #fafafa;
}
.alt2 {
  background-color: #fff;
}
tr.rowhover td,
.list .row:hover {
  background-color: #F7F9FA;
}
.list {
  margin: 10px 0;
}
.list th {
  text-align: left;
  color: #BBBBBB;
}
.list td,
.list th {
  padding: 3px 5px 3px 5px;
}
.list td {
  border-top: 1px solid #bbb;
}
.dead {
  color: #999;
}
.button_grey,
.button_red {
  font-size: 90%;
  padding: 0px;
}
td.ind1,
th.ind1 {
  padding-left: 20px;
}
td.ind2,
th.ind2 {
  padding-left: 40px;
}
td.ind3,
th.ind3 {
  padding-left: 60px;
}
td.ind4,
th.ind4 {
  padding-left: 80px;
}
.list .row {
  overflow: hidden;
  padding: 2px;
}
.list .cell:first-child {
  float: left;
  padding-left: 2px;
}
.list .cell {
  float: left;
  padding-left: 6px;
}
.list .row .buttons {
  float: right;
}
.cell.advanced {
  display: none;
}
.cell.edit-link {
  display: block;
  float: none !important;
  color: black;
}
.cell.edit-link.dead {
  color: #999;
}
.cell.edit-link:hover {
  text-decoration: none;
}
.toggle_children {
  margin-right: 5px;
  color: #ccc;
  cursor: default;
}
.buttons {
  border-left: solid 1px #999;
  background: #eee;
  margin-right: -7px;
  padding: 0px 7px;
}
.rearrange-tabs {
  margin-bottom: -14px;
  border-radius: 3px 3px 0px 0px;
  margin-left: 10px;
}
/* for nested items: e.g. draggable page heirarchy */
ol.treeview li .row {
  line-height: 2.5;
  background-color: #fff;
  padding: 0px 7px;
}
ol.treeview li li .row {
  background-color: #eee;
}
ol.treeview li li li .row {
  background-color: #ddd;
}
ol.treeview li li li li .row {
  background-color: #ccc;
}
.placeholder {
  background-color: #eaeaea;
}
.ui-nestedtreeview-error {
  background: #fbe3e4;
  color: #8a1f11;
}
ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}
ol.treeview,
ol.treeview ol {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-type: none;
}
ol.treeview {
  margin: 1em 0;
}
.treeview li {
  margin: 3px 0 0 0;
  padding: 0;
}
.treeview li .row {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 0;
}
.sortable {
  background-color: #FFFFEE;
  border: #dddd00;
  border-style: dashed;
  border-width: 1px;
}
ol.treeview.sortable {
  padding: 10px;
}
.sortable li .row {
  cursor: move;
}
/* editor pages */
table.editor td {
  padding: 7px 14px 7px 0;
}
table.editor tr:first-child td:first-child {
  width: 1%;
  white-space: nowrap;
}
form.editor-form {
  margin: 0px 0 30px 0;
}
table .editor th {
  padding: 8px;
  background-color: #b5d7df;
  font-weight: bold;
  text-align: left;
}
.page_edit_tabs {
  position: relative;
  top: 7px;
  height: 25px;
}
.page_edit_tabs a {
  padding: 6px 10px;
  border: 2px solid #2C7B8F;
  border-bottom: 0;
  color: black;
  text-decoration: none;
  float: left;
  margin-right: 4px;
}
.page_edit_tabs a img {
  float: left;
  margin-right: 4px;
}
.page_edit_tabs a.current {
  background-color: #e0ecef;
}
/******** inputs/buttons ********/
.formfield {
  padding: 5px 0px;
}
label {
  padding: 3px;
  margin-right: 3px;
  font-weight: normal;
}
label input[type="checkbox"],
label input[type="radio"] {
  margin-right: 5px;
}
input.i3 {
  width: 400px;
}
.button_grey,
.button_red {
  font-size: 11px;
  padding: 1px 1px 0px 1px;
  border: 0;
  font-weight: bold;
}
.button_grey {
  background-color: #ccc;
  color: #444;
}
.button_red {
  background-color: #FFBDAD;
  color: #AF4441;
}
.button,
.button_edit,
.button_config,
.button_details,
.button_download,
.button_add_small,
.button_photos,
.button_copy {
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}
.button_edit {
  background-image: url(images/icons/page_white_edit.png);
}
.button_config {
  background-image: url(images/icons/page_white_wrench.png);
}
.button_details {
  background-image: url(images/icons/magnifier.png);
}
.button_download {
  background-image: url(images/icons/arrow_down.png);
}
.button_photos {
  background-image: url(images/icons/image.png);
}
.button_add_small {
  background-image: url(images/icons/add.png);
}
.button_copy {
  background-image: url(images/icons/page_white_copy.png);
}
.button_add {
  background: transparent url(images/icons/add.png) no-repeat 2px center;
  color: #418936;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 2px 2px 20px;
  margin-right: 8px;
}
.checkbox-menu {
  text-align: right;
}
.checkbox-menu .checkallbelow,
.checkbox-menu .checknonebelow {
  font-size: 80%;
  margin-right: 5px;
}
.option-tbl {
  min-width: 90%;
}
.option-tbl th {
  background: #eee;
  padding: 5px;
  border-left: solid 1px #ddd;
}
.option-tbl td {
  background: #f3f3f3;
  padding: 0px 5px;
  border-left: solid 1px #ddd;
}
.option-tbl tr td:first-child,
.option-tbl tr th:first-child {
  border: none;
}
.option-tbl tr:nth-child(even) td {
  background: #f9f9f9;
}
.option-tbl tr:last-child td {
  background: none;
  padding: 3px 0;
  border: none;
}
/******* photo gallery *******/
.gallery .photo {
  width: 145px;
  height: 140px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ddd;
  text-align: center;
  float: left;
}
.gallery .photo_info {
  text-align: left;
  padding-left: 8px;
}
.gallery .photo_controls {
  padding: 0px 0px 3px 8px;
  text-align: left;
}
.gallery .delete_container {
  float: left;
  margin-left: 2px;
}
.gallery .pic {
  clear: both;
  margin-top: 3px;
}
.gallery .priority {
  color: #999;
}
.sortablegrid.sortable {
  cursor: move;
}
.sortablegrid li {
  background: none repeat scroll 0 0 #efefef;
  border: 1px solid #ccc;
  float: left;
  height: 160px;
  list-style: outside none none;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 170px;
}
.sortablegrid li .gal-title {
  overflow: hidden;
}
.sortablegrid li img {
  max-width: 140px;
  max-height: 140px;
}
.sortablegrid li .toolbar {
  text-align: right;
  padding-bottom: 4px;
  margin-top: -1px;
}
.sortablegrid.nosort li {
  cursor: default;
  height: auto;
  width: 230px;
}
.sortablegrid.nosort li .delete_container {
  display: block;
  height: 16px;
  white-space: nowrap;
  width: 16px;
}
.sortablegrid.nosort li .delete_first {
  background: url("images/icons/cross.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
/****** Notifications ******/
.ui-notify {
  top: 71px;
  z-index: 999;
  border-radius: 0px;
  width: 100%;
}
.ui-notify-message-style {
  background: #77a920;
  box-shadow: none;
  font-weight: bold;
}
.ui-notify-message {
  border-radius: 0px;
  padding: 7px 10px 7px 20%;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background: #ff0000;
  color: #fff;
  border: none;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #fff;
}
