@charset "utf-8";
/* CSS Document */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
/* Clear fix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}
/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"],
img[src*="googleapis.com/"] {
  max-width: none;
}
.rightlink {
  display: block;
  text-align: right;
}
.right {
  text-align: right;
}
.rightimg {
  float: right;
  margin: 10px 0 10px 10px;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}
.responsive_only {
  display: none;
}
html {
  min-height: 100%;
  height: 100%;
  background-color: #000;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  min-height: 100%;
  min-width: 100%;
  background: fixed left repeat-y;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12pt;
  color: #fff;
  text-align: left;
  box-shadow: inset 590px 0px 150px -150px rgba(30, 30, 30, 0.95);
}
#container {
  background: rgba(30, 30, 30, 0.85);
  min-height: 100vh;
  padding: 50px;
}
#home #container {
  background: none;
}
#maxwidth {
  max-width: 1255px;
}
img {
  max-width: 100%;
  height: auto !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
hr {
  width: 50px;
  background: white;
  height: 2px;
  margin: 10px 0;
  display: inline-block;
}
h1,
.jumbotron h1 {
  font-size: 34pt;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: -2px;
  padding-bottom: 0px;
}
h2 {
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 10px;
}
h3 {
  margin-top: 10px;
  font-size: 24pt;
}
h4 {
  margin-top: 10px;
  font-size: 20pt;
  font-family: 'Titillium Web', sans-serif;
}
h5 {
  font-size: 18pt;
  font-family: 'Titillium Web', sans-serif;
}
h6 {
  margin-top: 10px;
  font-size: 16pt;
  font-family: 'Titillium Web', sans-serif;
}
a {
  transition: 0.2s;
  color: #00a1bc;
}
a:hover,
a:focus {
  color: #fff;
}
ul {
  list-style: square;
}
#copyrights {
  font-size: 11px;
  line-height: 12px;
  padding-top: 5px;
}
select,
input[type="text"] {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 80%;
}
.prm-btn,
.card-btn {
  background: #007589;
  padding: 10px 15px;
  color: #fff;
  border: solid 1px #00b6d5;
}
.prm-btn:hover,
.card-btn:hover {
  background: rgba(0, 161, 188, 0.8);
  text-decoration: none;
  transform: scale(0.97);
}
.prm-btn:focus,
.card-btn:focus {
  color: #fff;
  text-decoration: none;
}
.cta-btn {
  background: #007589;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 15px 0;
  display: inline-block;
}
.cta-btn:before {
  font-family: 'FontAwesome';
  content: ' ';
}
#main .prm-btn {
  background: #00a1bc;
}
#main .prm-btn:hover {
  background: rgba(86, 230, 255, 0.8);
}
#sidebar {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 1000;
  height: 100%;
  width: 370px;
}
#sidebar #sidebar-nav {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-left: 50px;
}
#sidebar #sidebar-nav a {
  transition: 0s;
}
#sidebar #sidebar-nav a.prm-btn {
  transition: 0.2s;
}
#sidebar #sidebar-nav nav {
  padding: 40px 0;
}
#sidebar #sidebar-nav nav #logo {
  max-width: 70%;
  margin: 30px 15px 30px 25px;
  display: block;
}
#sidebar #sidebar-nav nav .prm-btn {
  max-width: 50%;
  float: left;
  margin: 70px 20px -10px;
  padding: 5px 10px;
  text-align: center;
}
#sidebar footer {
  font-size: 10pt;
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
  left: 75px;
}
#sidebar footer a {
  color: white;
}
#sidebar footer a:hover,
#sidebar footer a.current {
  color: #00a1bc;
}
#sidebar footer .social-icons a {
  font-size: 120%;
  color: #fff;
}
#sidebar footer .social-icons a:hover {
  color: #00a1bc;
}
#sidebar footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar footer ul li {
  padding: 0 8px 0 4px;
  display: inline-block;
  border-right: solid 1px white;
}
#sidebar footer ul li a {
  font-size: 130%;
}
#sidebar footer ul li:last-child {
  border-right: none;
}
#sidebar footer ul li:first-child {
  padding-left: 0;
}
.sticky-nav .social-icons a {
  display: inline-block;
  padding: 3px 6px;
}
.sticky-nav .social-icons a img {
  margin: 0px 5px;
}
.btn-navbar {
  display: none;
}
.navbar {
  margin-bottom: 0;
  background: none;
  border: none;
  border-radius: 0;
  position: inherit;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar .navbar-collapse {
  border: none;
}
.navbar .nav {
  width: 60%;
  padding: 0;
  list-style: none;
}
.navbar .nav.navbar-collapse {
  margin-right: 0;
}
.navbar .nav ul {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
.navbar .nav ul li {
  display: block;
  list-style: none;
  margin-left: -75px;
  padding-left: 75px;
}
.navbar .nav ul li:hover .dropdown-menu {
  transition: 0.4s;
  right: 0;
}
.navbar .nav ul li a {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  display: block;
  font-size: 17pt;
  margin-left: -1px;
  margin-bottom: 0;
  padding: 2px 25px 8px 25px;
}
.navbar .nav ul li.current > a,
.navbar .nav ul li:hover > a {
  padding: 2px 25px 8px 25px;
  color: #00a1bc;
  text-decoration: none;
}
.navbar .nav ul li ul li a {
  text-transform: none;
}
.navbar .nav ul li ul li.current,
.navbar .nav ul li ul li:hover {
  border-bottom: none;
}
.navbar .nav ul li ul li.current > a,
.navbar .nav ul li ul li:hover > a {
  margin-left: 0;
  margin-bottom: 0;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background: none;
  text-decoration: none;
  color: #fff;
}
.navbar .nav .dropdown {
  position: inherit;
}
.navbar .nav .dropdown .dropdown-menu {
  border: none;
  display: block;
  position: absolute;
  float: none;
  height: 100%;
  background: rgba(0, 117, 137, 0.8);
  top: 0;
  margin-top: 0;
  padding: 0;
  box-shadow: 0;
  border-radius: 0;
  right: -40%;
  left: auto;
  width: 34.6%;
}
.navbar .nav .dropdown .dropdown-menu ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.navbar .nav .dropdown .dropdown-menu li {
  display: block;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
.navbar .nav .dropdown .dropdown-menu li a {
  font-size: 14pt;
  padding: 8px 10px 8px 15px;
  text-align: left;
  margin-bottom: 2px;
  background: #008298;
}
.navbar .nav .dropdown .dropdown-menu li ul {
  padding-left: 0;
}
.navbar .nav .dropdown .dropdown-menu li.current a {
  color: #fff;
}
.navbar .nav .dropdown .dropdown-menu li.current a,
.navbar .nav .dropdown .dropdown-menu > li ul li.current a,
.navbar .nav .dropdown .dropdown-menu li a:hover,
.navbar .nav .dropdown .dropdown-menu > li ul li a:hover {
  background: #007589;
  color: #fff;
  border: none;
}
.navbar .nav .dropdown .dropdown-menu li a,
.navbar .nav .dropdown .dropdown-menu > li ul li a {
  padding: 12px 10px 12px 15px;
  line-height: 18px;
  color: #fff;
  display: block;
  font-size: 12pt;
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
}
.navbar .nav .dropdown .dropdown-menu > li > a {
  white-space: normal;
}
.navbar .nav.with-stucknav .dropdown .dropdown-menu {
  background: #007589;
}
.navbar .nav.with-stucknav .dropdown .dropdown-menu li a,
.navbar .nav.with-stucknav .dropdown .dropdown-menu > li ul li a {
  background: none;
}
.navbar .nav.with-stucknav .dropdown .dropdown-menu li.current a,
.navbar .nav.with-stucknav .dropdown .dropdown-menu > li ul li.current a,
.navbar .nav.with-stucknav .dropdown .dropdown-menu li a:hover,
.navbar .nav.with-stucknav .dropdown .dropdown-menu > li ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.navbar .nav.with-stucknav .dropdown.current .dropdown-menu {
  right: 0%;
  background: rgba(102, 102, 102, 0.7);
}
.sticky-nav {
  border: none;
  display: table;
  position: absolute;
  float: none;
  height: 100%;
  background: rgba(102, 102, 102, 0.7);
  top: 0;
  margin-top: 0;
  box-shadow: 0;
  border-radius: 0;
  right: 0;
  left: auto;
  width: 194px;
  font-size: 12pt;
  text-align: right;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.sticky-nav h5 {
  border-bottom: solid 1px #fff;
  padding-bottom: 5px;
  margin-bottom: 18px;
  font-size: 15pt;
  font-weight: bold;
}
.sticky-nav .sticky-centered-contain {
  display: table-cell;
  vertical-align: middle;
}
.sticky-nav .sticky-centered-contain .sticky-centered {
  padding: 10px;
  width: 100%;
  max-height: 100vh;
}
.sticky-nav .optioncontain h6 {
  line-height: 5px;
  padding-top: 0;
  font-size: 14pt;
}
.filter-option {
  width: 200px;
  display: inline-block;
}
.filter-option h6 {
  margin: 0 10px;
  border-bottom: solid 1px white;
  font-size: 14pt;
  padding: 3px 0;
}
.selectboxit-container a {
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}
.selectboxit-container {
  color: #000;
}
.selectboxit-container .c-sample {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  border: solid 1px #000;
  height: 21px;
  margin-left: -2px;
  margin-top: -4px;
}
.selectboxit-container .selectboxit {
  width: 170px;
  border-radius: 0;
}
.selectboxit-container .selectboxit .selectboxit-option-icon-container {
  margin-left: 0;
}
.selectboxit-container .selectboxit-option-first {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.selectboxit-container .selectboxit-options {
  width: 170px;
  min-width: 170px !important;
  border-radius: 0;
  border: none;
  margin-left: 15px;
}
.selectboxit-container .selectboxit-options .selectboxit-option {
  border-top: 1px solid #ccc;
  height: 26px;
  line-height: 25px;
}
.selectboxit-container .selectboxit-options .selectboxit-option a {
  font-size: 10px;
  height: 25px;
  line-height: 25px;
}
.selectboxit-container .selectboxit-options .selectboxit-option a span {
  height: 22px;
  line-height: 22px;
}
.selectboxit-container .selectboxit-options .c-sample {
  margin-left: -10px;
  margin-top: -1px;
}
.selectboxit-container .selectboxit-btn {
  max-width: 170px;
  overflow: hidden;
  width: 170px;
  background: none;
  color: white;
  border: 0;
}
.selectboxit-container .selectboxit-text {
  width: 135px;
  text-align: left;
  margin-left: 35px;
}
.selectboxit-container .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  background: #007589;
}
.selectboxit-container .selectboxit.wl-form {
  width: 60px;
}
.selectboxit-container .selectboxit.wl-form.selectboxit-options {
  width: 60px;
}
.selectboxit-container .selectboxit.wl-form.selectboxit-btn {
  max-width: 60px;
  width: 60px;
}
.selectboxit-container .selectboxit.wl-form .selectboxit-text {
  width: 30px;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
  background: none;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  color: #00a1bc;
}
.selectboxit-arrow-container {
  background: none;
  color: white;
  right: auto;
  left: 0;
}
.selectboxit-default-arrow {
  border: 0;
}
.selectboxit-default-arrow:after {
  content: '';
  font-family: 'FontAwesome';
  position: relative;
  top: -9px;
}
#main ul.selectboxit-options li {
  padding: 0;
}
input.shop-form-input {
  background: #fff;
  font-weight: normal;
  padding: 5px 10px;
  text-align: right;
  width: 98%;
}
#main .small-list {
  font-size: 95%;
}
#main .small-list li {
  padding: 0px;
}
blockquote {
  padding: 35px 75px;
  border-left: none;
  color: #fff;
  font-style: italic;
  background: rgba(27, 79, 84, 0.77);
  position: relative;
}
blockquote:before {
  content: url(/images/quote-start.png);
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}
blockquote:after {
  content: url(/images/quote-end.png);
  position: absolute;
  bottom: 5px;
  right: 10px;
  opacity: 0.5;
}
#faq-s #main ol li strong {
  font-size: 120%;
}
#main {
  margin-left: 336px;
  padding: 0 50px 50px 50px;
  min-height: 100vh;
}
#main.has-sidebar {
  border: none;
}
#main ol li,
#main ul li {
  padding: 2px 0;
}
#main ol {
  list-style-type: none;
  counter-reset: ol-counter;
}
#main ol[start="2"] {
  counter-reset: ol-counter 1;
}
#main ol[start="3"] {
  counter-reset: ol-counter 2;
}
#main ol[start="4"] {
  counter-reset: ol-counter 3;
}
#main ol[start="5"] {
  counter-reset: ol-counter 4;
}
#main ol[start="6"] {
  counter-reset: ol-counter 5;
}
#main ol[start="7"] {
  counter-reset: ol-counter 6;
}
#main ol[start="8"] {
  counter-reset: ol-counter 7;
}
#main ol[start="9"] {
  counter-reset: ol-counter 8;
}
#main ol[start="10"] {
  counter-reset: ol-counter 9;
}
#main ol[start="11"] {
  counter-reset: ol-counter 10;
}
#main ol[start="12"] {
  counter-reset: ol-counter 11;
}
#main ol[start="13"] {
  counter-reset: ol-counter 12;
}
#main ol[start="14"] {
  counter-reset: ol-counter 13;
}
#main ol[start="15"] {
  counter-reset: ol-counter 14;
}
#main ol li {
  border-top: 1px solid #007589;
  padding: 0 0 25px 30px;
}
#main ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-size: 19pt;
  font-weight: bold;
  margin-left: -65px;
  margin-right: 10px;
  margin-top: -1px;
  text-align: center;
  width: 35px;
  background: #007589;
  color: #fff;
}
body.gallery #main {
  padding-right: 20px;
}
.card {
  margin: auto;
  background: rgba(0, 161, 188, 0.85);
  min-height: 370px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  color: #fff;
}
.card h6 {
  text-transform: uppercase;
  margin-top: 0;
}
.card img {
  min-width: 100%;
  height: auto;
}
.card-btn {
  display: block;
  margin: 10px auto;
  width: 300px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
}
#home #main {
  background: none;
  border: none;
}
.tagline {
  position: absolute;
  bottom: 15vh;
  font-size: 148px;
  font-weight: bold;
  text-align: right;
  line-height: 80%;
  opacity: 0.15;
  width: 710px;
  right: 70px;
}
#picker {
  margin: 0;
  padding: 0 5px 0 0;
  border: 0;
  width: 120px;
  height: 29px;
  border-right: 30px solid black;
  line-height: 30px;
  text-align: right;
}
.weight {
  display: block;
  font-size: 12px;
  right: 5px;
  padding-right: 0;
  position: absolute;
  text-align: left;
  top: -17px;
}
.price {
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  width: 95px;
}
.price .note {
  display: none;
}
.pattern-item {
  float: left;
  width: 220px;
  height: 324px;
  line-height: 40px;
  margin: 0 15px;
  padding: 15px 0;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.pattern-item .pattern-image {
  background: none;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 3px;
}
.pattern-item.pattern-dark .pattern-image {
  background: rgba(255, 255, 255, 0.2);
}
.pattern-item .pattern-title {
  font-size: 120%;
  line-height: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.pattern-item .pattern-title a.panel-link {
  color: white;
  font-size: 90%;
}
.pattern-item .pattern-title a.panel-link:hover {
  color: #00a1bc;
}
.pattern-item.large {
  width: 480px;
}
.pattern-item .pat-original {
  max-width: 200px;
  max-height: 255px;
}
.pattern-item .pat-placeholder {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.pattern-item .patter-wrap {
  border: 3px solid #adadad;
  overflow: hidden;
  width: 91px;
  height: 180px;
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.pattern-item .patter-wrap.flip-svg {
  width: 180px;
  height: 91px;
  padding-top: 14px;
}
.pattern-item .patter-wrap.flip-svg .pattern-svg {
  transform: rotate(90deg);
  margin-top: -62px;
}
.pattern-item .pattern-svg {
  margin: -3px;
  width: 92px;
  height: 181px;
}
.pattern-item .pattern-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  line-height: 20px;
  text-align: right;
}
#patterns-grid.product-use .pattern-item {
  display: inline-block;
  float: none;
  vertical-align: top;
  height: auto;
  width: 260px;
}
#patterns-grid.product-use .pattern-item .pattern-title {
  font-size: 110%;
  line-height: 24px;
  padding: 10px 0;
}
#patterns-grid.product-use .pattern-item .pattern-title a {
  color: white;
  text-transform: uppercase;
  font-size: 70%;
}
#patterns-grid.product-use .pattern-item .pattern-title a:hover {
  color: #00a1bc;
}
#patterns-grid.product-use .pattern-item .pattern-image {
  margin-bottom: 0px;
  padding: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
}
#patterns-grid.product-use .pattern-item .pattern-image img {
  max-height: 1000px !important;
  max-width: 1000px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
#patterns-grid.product-use .pattern-item .pattern-menu {
  position: relative;
}
#patterns-grid.product-use .pattern-item .pattern-menu .weight {
  top: -20px;
}
h4 a.cart-edit-btn {
  background: #007589;
  color: #fff;
  font-size: 50%;
  margin-left: 15px;
  padding: 7px 25px;
  vertical-align: middle;
  transition: all 0.2s ease 0s;
}
h4 a.cart-edit-btn:hover {
  text-decoration: none;
  transform: scale(0.9);
  background: rgba(0, 161, 188, 0.8);
}
.cc_tbl {
  background: rgba(255, 255, 255, 0.4);
  border: solid 5px rgba(255, 255, 255, 0.9);
  color: #fff;
}
.cc_tbl th {
  padding-left: 10px;
}
.ecom_tbl {
  width: 100%;
}
.ecom_tbl input[type="text"] {
  width: 99%;
}
.ecom_tbl textarea {
  width: 99%;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border: none;
}
.ecom_tbl td {
  vertical-align: top;
  padding: 3px 5px;
  border-top: #888 solid 1px;
}
.ecom_tbl .cart-option {
  font-size: 80%;
}
.hidden-option,
.hidden-option-always {
  height: 0;
  overflow: hidden;
}
.filter-menu {
  clear: both;
}
.stuck {
  position: fixed;
  top: 0;
  background: rgba(30, 30, 30, 0.95);
  width: 100%;
  z-index: 9;
  padding: 5px 30px 0px 30px;
  box-shadow: -20px 10px 20px rgba(30, 30, 30, 0.9);
}
.grid-item {
  width: 210px;
  height: 210px;
  overflow: hidden;
  text-align: center;
  margin: 25px;
  float: left;
}
.grid-item img {
  max-width: 200%;
  position: relative;
  left: 100%;
  margin-left: -180%;
}
.gallery-caption {
  padding: 20px 70px;
}
.gallery-caption img {
  max-height: 90vh;
}
@media screen and (max-width: 700px) {
  .gallery-caption {
    padding: 20px 50px;
  }
}
.gallery-item {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  display: block;
}
button.mfp-close {
  font-size: 40pt;
}
/*
.slick-nav{
  white-space: nowrap;
  overflow-x: scroll;
}
*/
.slick-nav {
  text-align: left;
}
.slick-nav-item {
  display: inline-block;
}
.slick-slide img {
  margin: auto;
}
.slick-five-fix .slick-track {
  margin-left: -56px;
}
.btn-prev-arrow,
.btn-next-arrow {
  position: absolute;
  top: 50%;
  font-size: 180%;
  cursor: pointer;
  padding: 15px;
  line-height: 200%;
  z-index: 999;
}
.btn-prev-arrow:hover,
.btn-next-arrow:hover {
  color: #fff;
}
.btn-prev-arrow {
  left: -40px;
}
.btn-next-arrow {
  right: -40px;
}
.mfp-content {
  text-align: center;
}
.mfp-textcontain {
  max-width: 500px;
  margin: auto;
  background: #000;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 30px 10px #000000;
}
.slick-prev,
.slick-next {
  z-index: 999;
}
.slick-dots li.slick-active button::before {
  color: #00ccef;
  opacity: 1;
}
.slick-dots li button::before {
  font-size: 14px;
  color: #fff;
}
.slick-dots li button {
  color: #fff;
}
.slick-dots li button:hover {
  color: #00ccef;
}
.slick-nav-item {
  padding: 10px;
}
.slick-nav-item img {
  cursor: pointer;
}
.slick-img-item .caption {
  display: none;
}
.slick-img-item img {
  max-height: 400px;
  margin: auto;
}
.slick-caption {
  padding-left: 10px;
}
#datefrom,
#dateto {
  width: 42%;
  margin-bottom: 3px;
}
.blog-entry-short h3 {
  margin-top: 0;
}
.blog-entry-short .prm-btn {
  padding: 5px 20px;
  font-size: 12pt;
}
.cart-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}
.cart-btn i {
  vertical-align: middle;
}
.product-form {
  display: inline;
}
.related-products {
  background: #333;
  border: #666 solid 2px;
  padding: 5px;
}
.related-products h5 {
  padding-left: 15px;
}
.related-products #patterns-grid.product-use .cal {
  min-height: 150px;
  width: 200px;
  margin-bottom: 15px;
}
.related-products .pattern-item .pattern-title {
  font-size: 80%;
  line-height: 26px;
  padding-bottom: 5px;
}
@media screen and (max-height: 730px) {
  .sticky-nav .sticky-centered-contain {
    display: block;
    overflow-y: auto;
  }
}
@media screen and (max-width: 1400px) {
  .slick-img-item img {
    max-height: 300px;
  }
}
@media screen and (max-width: 1200px) {
  img {
    max-width: 100%;
    height: auto !important;
  }
  input {
    max-width: 90%;
  }
  .slick-img-item img {
    max-height: 200px;
  }
}
@media screen and (max-width: 1100px) {
  body {
    background-position: -80px 0;
  }
  .tagline {
    font-size: 80px;
    width: 400px;
  }
  #sidebar {
    width: 400px;
  }
  #sidebar #sidebar-nav {
    padding-left: 0;
  }
  #sidebar #sidebar-nav nav {
    border-left: none;
  }
  #sidebar footer {
    left: 5px;
    width: 200px;
  }
  .navbar .nav ul li a {
    font-size: 15pt;
  }
  .navbar .nav {
    width: 52.5%;
  }
  #main {
    margin-left: 380px;
    padding: 50px 30px 30px 50px;
  }
  .slick-nav {
    display: none;
  }
  .cart-btn {
    position: absolute;
  }
  .btn-prev-arrow,
  .btn-next-arrow {
    font-size: 200%;
  }
}
@media screen and (max-height: 650px) {
  .navbar-default::after {
    content: " ";
    height: 110px;
  }
  #ui-datepicker-div {
    z-index: 9000 !important;
  }
  #sidebar footer {
    z-index: 1;
  }
  .navbar .nav ul li a {
    font-size: 17pt;
    line-height: 115%;
  }
  #sidebar #sidebar-nav nav {
    padding: 0 0 40px 0;
  }
  #sidebar #sidebar-nav nav #nav {
    z-index: 4;
    position: relative;
  }
  #sidebar #sidebar-nav nav .prm-btn {
    margin-top: 5px;
    box-shadow: 0 15px 30px 25px #000;
    position: relative;
    z-index: 2;
  }
  #sidebar #sidebar-nav nav .prm-btn:hover {
    background: #007589;
  }
  .sticky-nav {
    z-index: 3;
  }
  .sticky-nav .svg-target {
    max-width: 170px;
  }
  .sticky-nav .sticky-centered-contain {
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .selectboxit-container .selectboxit-btn {
    max-width: 150px;
  }
  .selectboxit-container .selectboxit-options {
    width: 150px;
    min-width: 150px !important;
  }
}
@media screen and (max-width: 992px) {
  body {
    background-position: -150px 0;
  }
  .sticky-nav {
    width: 176px;
    left: 194px;
  }
  .tagline {
    font-size: 70px;
    width: 500px;
  }
  #sidebar {
    width: 370px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #sidebar #patterns-grid {
    margin: 0 -8px;
  }
  #sidebar #sidebar-nav {
    display: block;
    height: auto;
  }
  #sidebar #sidebar-nav .svg-target {
    max-width: 130px;
  }
  #nav_container {
    width: 100%;
  }
  #sidebar #sidebar-nav nav {
    padding: 10px 0;
  }
  .selectboxit-container .selectboxit-btn {
    max-width: 130px;
  }
  #main {
    margin-left: 370px;
    padding: 50px 20px 20px;
  }
  #sidebar footer {
    bottom: auto;
    left: auto;
    padding: 0 10% 10px 10px;
    position: static;
  }
  .btn-prev-arrow,
  .btn-next-arrow {
    font-size: 180%;
    padding: 10px;
  }
  .btn-prev-arrow {
    left: -20px;
  }
  .btn-next-arrow {
    right: -20px;
  }
  .selectboxit-container .selectboxit-options {
    min-width: 130px !important;
    width: 130px;
  }
}
@media screen and (max-width: 992px) and (max-height: 650px) {
  #sidebar #sidebar-nav nav {
    padding: 0;
  }
  .navbar-default::after {
    content: none;
    height: 0px;
  }
  #sidebar {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  html {
    background-image: none !important;
  }
  body {
    background: #000;
  }
  table {
    width: 100%;
    max-width: 100%;
  }
  table td {
    display: block;
    padding: 3px 0;
  }
  .ui-datepicker td {
    display: table-cell;
  }
  .responsive-br {
    display: block;
  }
  .reponsive-left {
    text-align: left;
  }
  .tagline {
    bottom: auto;
    font-size: 50px;
    font-weight: bold;
    line-height: 80%;
    opacity: 1;
    position: relative;
    right: auto;
    text-align: right;
    width: 100%;
  }
  .cart-btn {
    bottom: 0;
    top: auto;
    font-size: 15px;
    position: fixed;
    left: auto;
    right: 0;
    z-index: 9998;
  }
  #sidebar #sidebar-nav nav .prm-btn,
  #sidebar #sidebar-nav nav #logo {
    max-width: 100%;
  }
  #sidebar #sidebar-nav nav #logo {
    margin: 0 0 30px 10px;
    max-height: 40px;
    position: absolute;
    z-index: 10006;
  }
  #sidebar {
    overflow: visible;
    position: static;
    width: 100%;
  }
  #sidebar #sidebar-nav {
    overflow: visible;
    max-height: none;
  }
  #sidebar footer {
    padding: 10px;
  }
  .sticky-wrapper {
    padding: 0px 20px;
  }
  .sticky-nav {
    top: 60px;
    transition: 0.4s;
    width: 100%;
    max-width: 100%;
    display: block;
    text-align: right;
    background: #666;
    max-height: 100vh;
    min-height: 100vh;
    z-index: 9999;
    position: fixed;
    left: 100%;
  }
  .sticky-nav .sticky-centered-contain .sticky-centered:after {
    content: " ";
    height: 80px;
    display: block;
  }
  .sticky-nav.collapse.in {
    display: block;
    left: 0;
  }
  .btn-sticky.btn-navbar {
    z-index: 9999;
    width: 100%;
    text-align: center;
    height: auto;
    min-height: 60px;
    white-space: normal;
    padding: 10px 5px;
    right: 0px;
    background: #008ba3;
    border: none;
    position: relative;
  }
  .btn-sticky.btn-navbar.stuck {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .btn-sticky.btn-navbar.open {
    background: #00b6d5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10010;
  }
  .btn-sticky.btn-navbar.open:before {
    content: 'Close';
  }
  #main {
    margin-left: 0;
    padding: 10px 20px 150px 20px;
    border: none;
  }
  #nav_container {
    text-align: center;
  }
  .navbar .nav {
    width: 100%;
  }
  .navbar .nav ul li {
    padding-left: 0px;
  }
  .navbar-default {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 10px 0 0 0;
  }
  .navbar-default #nav {
    z-index: 10000;
    background: #000;
    border-bottom: none;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 60px;
    max-height: 100vh;
    min-height: 100vh;
  }
  .navbar-default #nav ul {
    padding: 0;
    text-align: left;
  }
  .navbar-default #nav ul li {
    margin: 0;
    display: block;
  }
  .navbar-default #nav ul li a {
    display: block;
    padding: 11px 10px;
    margin: 0px;
    border: solid 1px #333;
  }
  .navbar-default #nav ul li a.current,
  .navbar-default #nav ul li a:hover {
    background: #333;
  }
  .navbar-default #nav ul li a br {
    display: none;
  }
  .navbar-default #nav ul li a i {
    margin-left: 5px;
  }
  .navbar-default #nav ul li .dropdown-menu {
    position: relative;
    text-align: left;
    float: none;
  }
  .navbar-default #nav ul li .dropdown-menu li a {
    text-align: left;
  }
  .navbar-default #nav ul li:last-child:after {
    content: " ";
    height: 60px;
    display: block;
  }
  .btn-navbar {
    z-index: 10000;
    display: block;
    position: absolute;
    font-size: 18px;
    height: 60px;
    top: 0px;
    font-weight: bold;
    color: #FFF;
    width: 100%;
    text-align: right;
    background: #007589;
    border: none;
    border-radius: 0;
    padding: 11px 13px;
    cursor: pointer;
    user-select: none;
  }
  .btn-navbar.btn:hover,
  .btn-navbar.btn:focus {
    color: #fff;
    text-decoration: none;
  }
  .btn-navbar.open {
    background: #00a1bc;
  }
  .btn-navbar.open .menu_hamburger .lines {
    background: transparent;
  }
  .btn-navbar.open .menu_hamburger .lines:before,
  .btn-navbar.open .menu_hamburger .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 4rem;
  }
  .btn-navbar.open .menu_hamburger .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  .btn-navbar.open .menu_hamburger .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  .btn-navbar .menu_hamburger {
    transition: 0.4s;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
  }
  .btn-navbar .menu_hamburger:focus {
    background: #007589;
  }
  .btn-navbar .menu_hamburger:hover {
    background-color: #000;
    opacity: 1;
  }
  .btn-navbar .menu_hamburger:hover .lines:before {
    top: 1.14286rem;
  }
  .btn-navbar .menu_hamburger:hover .lines:after {
    top: -1.14286rem;
  }
  .btn-navbar .menu_hamburger:active {
    transition: 0s;
  }
  .btn-navbar .menu_hamburger .lines {
    display: inline-block;
    width: 4rem;
    height: 0.57143rem;
    background: #ecf0f1;
    border-radius: 0.28571rem;
    transition: 0.4s;
    position: relative;
  }
  .btn-navbar .menu_hamburger .lines:before,
  .btn-navbar .menu_hamburger .lines:after {
    display: inline-block;
    width: 4rem;
    height: 0.57143rem;
    background: #ecf0f1;
    border-radius: 0.28571rem;
    transition: 0.4s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
  }
  .btn-navbar .menu_hamburger .lines:before {
    top: 1rem;
  }
  .btn-navbar .menu_hamburger .lines:after {
    top: -1rem;
  }
  .navbar-default #nav .dropdown-toggle {
    float: right;
    margin-top: -57px;
    padding: 0;
  }
  .navbar-default #nav .dropdown-toggle a {
    padding: 0;
    margin: 0;
  }
  .navbar-default #nav .dropdown-toggle i {
    line-height: 57px;
    padding: 0 26px 0 13px;
    background: #5F6B71;
    color: #FFF;
  }
  .navbar-default #nav .navbar-default #nav ul li a.dropdown-toggle {
    padding: 0;
  }
  .navbar-default .nav ul.dropdown-menu > li:last-child a {
    border-radius: 0;
  }
  .responsive_only {
    display: inherit;
  }
  img {
    display: block;
    margin: auto;
  }
  .gallery .pic_container {
    width: 100%;
  }
  .pattern-item {
    width: 100%;
    margin: 0px;
  }
  .row.row-offcanvas.row-offcanvas-left {
    position: relative;
  }
  #sidebar footer {
    position: absolute;
    bottom: 10px;
  }
  .sticky-nav .social-icons a {
    vertical-align: middle;
  }
  .sticky-nav .social-icons a img {
    margin: 1px 5px 2px;
  }
  #sidebar footer .social-icons a img {
    display: inline;
  }
}
/*# sourceMappingURL=global.css.map */