@charset "utf-8";
/* CSS Document */

@highlight_color: #007589;
@highlight_color_links: lighten(@highlight_color, 10);
@menu_color: #666;
@lighttext: #fff;
@background: #000;

@primary_font: 'Titillium Web', sans-serif;
@icon_font: 'FontAwesome';
@line-transition: .4s;

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* Clear fix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/*  For IE 6/7 only  Include this rule to trigger hasLayout and contain floats.  */
.cf {
  *zoom: 1;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

.rightlink {
  display: block;
  text-align: right;
}

.right {
  text-align: right;
  &img {
    float: right;
    margin: 10px 0 10px 10px;
  }
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.responsive_only {
  display: none;
}

html {
  min-height: 100%;
  height: 100%;
  background-color: @background;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: fixed left repeat-y;
  font-family: @primary_font;
  font-size: 12pt;
  color: @lighttext;
  text-align: left;
  box-shadow:inset 590px 0px 150px -150px rgba(30, 30, 30, 0.95);
}
#container{
  background:rgba(30,30,30,0.85);
  min-height:100vh;
  padding:50px;
}

#home #container{
  background:none;
}
#maxwidth{
  max-width: 1255px;
}

img {
  max-width: 100%;
  height:auto !important;
}

h1, h2, h3, h4, h5, h6 {
  color: @lighttext;
}

hr {
  width: 50px;
  background: white;
  height: 2px;
  margin:10px 0;
  display: inline-block;
}

h1, .jumbotron h1 {
  font-size: 34pt;
  font-weight:bold;
  font-family: @primary_font;
  letter-spacing: -2px;
  padding-bottom: 0px;
}
h2 {
  font-size: 22pt;
  font-weight:bold;
  font-family: @primary_font;
  margin-top:10px;
}

h3 {
  margin-top:10px;
  font-size: 24pt;
}

h4 {
  margin-top:10px;
  font-size: 20pt;
  font-family: @primary_font;
}

h5 {
  font-size: 18pt;
  font-family: @primary_font;
}

h6 {
  margin-top:10px;
  font-size: 16pt;
  font-family: @primary_font;
}

a {
  transition: .2s;
  color: @highlight_color_links;
  &:hover, &:focus {
    color: @lighttext;
  }
}
ul{
  list-style: square;
}
#copyrights{
  font-size: 11px;
  line-height: 12px;
  padding-top: 5px;
}

select, input[type="text"] {
  color: #000;
  background: fade(#fff, 80);
  border: none;
  font-size: 80%;
}

.prm-btn, .card-btn {
  background: @highlight_color;
  padding: 10px 15px;
  color: @lighttext;
  border: solid 1px lighten(@highlight_color, 15);
  &:hover {
    background: fade(@highlight_color_links, 80);
    text-decoration: none;
    transform: scale(.97);
  }
  &:focus{
    color:#fff;
    text-decoration: none;
  }
}
.cta-btn{
  background: @highlight_color;
  color:white;
  padding: 10px 20px 10px 20px;
  margin: 15px 0;
  display:inline-block;
  &:before{
    font-family: @icon_font;
    content: ' ';
  }
}

#main
.prm-btn {
  background: @highlight_color_links;
  &:hover {
    background: fade(lighten(@highlight_color, 40), 80);
  }
}

#sidebar {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 1000;
  height: 100%;
  width: 370px;
  #sidebar-nav {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-left: 50px;
    a {
      transition: 0s;
      &.prm-btn {
        transition: .2s;
      }
    }
    nav {
      padding: 40px 0;

      #logo {
        max-width: 70%;
        margin: 30px 15px 30px 25px;
        display: block;
      }
      .prm-btn {
        max-width: 50%;
        float: left;
        margin: 70px 20px -10px;
        padding: 5px 10px;
        text-align: center;
      }
    }
    .sidebar-vertical-centered {

    }
  }
  footer {
    font-size: 10pt;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    left: 75px;
    a{
      color:white;
      &:hover, &.current{
        color:@highlight_color_links;
      }
    }
    .social-icons {
      a {
        font-size: 120%;
        color: @lighttext;
        &:hover {
          color: @highlight_color_links;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 8px 0 4px;
        display: inline-block;
        border-right:solid 1px white;
        a{
          font-size:130%;
        }
        &:last-child {
          border-right: none;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

.sticky-nav {
  .social-icons a{
    display: inline-block;
    padding:3px 6px;
    img{
      margin: 0px 5px;
    }
  }
}
.btn-navbar {
  display: none;
}

.navbar {
  margin-bottom: 0;
  background: none;
  border: none;
  border-radius: 0;
  position: inherit;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .navbar-collapse {
    border: none;
  }
  .nav {
    width: 60%;
    padding: 0;
    list-style: none;
    &.navbar-collapse {
      margin-right: 0;
    }
    ul {
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      li {
        display: block;
        list-style: none;
        margin-left: -75px;
        padding-left: 75px;
        &.current, &:hover {

        }
        &:hover {
          .dropdown-menu {
            transition: .4s;
            right: 0;
          }
        }
        a {
          color: @lighttext;
          font-family: @primary_font;
          display: block;
          font-size: 17pt;
          margin-left: -1px;
          margin-bottom: 0;
          padding: 2px 25px 8px 25px;
        }
        &.current > a, &:hover > a {
          padding: 2px 25px 8px 25px;
          color: @highlight_color_links;;
          text-decoration: none;
        }
        ul li {
          a {
            text-transform: none;
          }
          &.current, &:hover {
            border-bottom: none
          }
          &.current > a, &:hover > a {
            margin-left: 0;
            margin-bottom: 0;
          }
        }
      }
    }
    .open > a, .open > a:hover, .open > a:focus {
      background: none;
      text-decoration: none;
      color: @lighttext;
    }

    .dropdown {
      position: inherit;
      .dropdown-menu {
        border: none;
        display: block;
        position: absolute;
        float: none;
        height: 100%;
        background: fade(@highlight_color, 80);
        top: 0;
        margin-top: 0;
        padding: 0;
        box-shadow: 0;
        border-radius: 0;
        right: -40%;
        left: auto;
        width: 34.6%;
        ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
        li {
          display: block;
          padding-left: 0;
          margin-left: 0;
          text-align: left;
          a {
            font-size: 14pt;
            padding: 8px 10px 8px 15px;
            text-align: left;
            margin-bottom: 2px;
            background: lighten(@highlight_color, 3);
          }
          ul {
            padding-left: 0;
          }
          &.current a {
            color: #fff;
          }
        }
        li, > li ul li {
          &.current a, a:hover {
            background: @highlight_color;
            color: #fff;
            border: none;
          }
          a {
            padding: 12px 10px 12px 15px;
            line-height: 18px;
            color: #fff;
            display: block;
            font-size: 12pt;
            text-align: right;
            font-family: @primary_font;
          }
        }
      }
      .dropdown-menu > li > a {
        white-space: normal;
      }
    }
    &.with-stucknav {
      .dropdown {
        .dropdown-menu {
          background: @highlight_color;
          li, > li ul li {
            a {
              background: none;
            }
            &.current a, a:hover {
              background: fade(#fff, 10);
            }
          }
        }
        &.current .dropdown-menu {

          right: 0%;
          background: fade(@menu_color, 70);
        }
      }
    }
  }
}

.sticky-nav {
  border: none;
  display: table;
  position: absolute;
  float: none;
  height: 100%;
  background: fade(@menu_color, 70);
  top: 0;
  margin-top: 0;
  box-shadow: 0;
  border-radius: 0;
  right: 0;
  left: auto;
  width: 194px;
  font-size: 12pt;
  text-align: right;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  h5 {
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
    margin-bottom: 18px;
    font-size: 15pt;
    font-weight: bold;
  }
  .sticky-centered-contain {
    display: table-cell;
    vertical-align: middle;
    .sticky-centered {
      padding: 10px;
      width: 100%;
      max-height: 100vh;
    }
  }
  .optioncontain h6 {
    line-height: 5px;
    padding-top: 0;
    font-size: 14pt;
  }
}

.filter-option{
  width:200px;
  display:inline-block;
  h6{
    margin:0 10px;
    border-bottom:solid 1px white;
    font-size:14pt;
    padding:3px 0;
  }
}

.selectboxit-container a {
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}
.selectboxit-container {
  color: #000;
  .c-sample {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    border: solid 1px #000;
    height: 21px;
    margin-left: -2px;
    margin-top: -4px;
  }
  .selectboxit {
    width: 170px;
    border-radius: 0;
    .selectboxit-option-icon-container {
      margin-left: 0;
    }
  }
  .selectboxit-option-first {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .selectboxit-options {
    width: 170px;
    min-width: 170px !important;
    border-radius: 0;
    border: none;
    margin-left: 15px;
    .selectboxit-option {
      border-top: 1px solid #ccc;
      height: 26px;
      line-height: 25px;
      a {
        font-size: 10px;
        height: 25px;
        line-height: 25px;
        span {
          height: 22px;
          line-height: 22px;
        }
      }
    }
    .c-sample {
      margin-left: -10px;
      margin-top: -1px;
    }
  }
  .selectboxit-btn {
    max-width: 170px;
    overflow: hidden;
    width: 170px;
    background: none;
    color:white;
    border:0;
  }
  .selectboxit-text {
    width: 135px;
    text-align: left;
    margin-left: 35px;
  }
  .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background: @highlight_color;
  }
  .selectboxit.wl-form {
    width: 60px;
    &.selectboxit-options {
      width: 60px;
    }
    &.selectboxit-btn {
      max-width: 60px;
      width: 60px;
    }
    .selectboxit-text {
      width: 30px;
    }
  }
}
.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus, .selectboxit-btn.selectboxit-enabled:active{
  background:none;
}
.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus{
  color:@highlight_color_links;
}
.selectboxit-arrow-container {
  background:none;
  color:white;
  right:auto;
  left:0;
}
.selectboxit-default-arrow{
  border:0;
  &:after{
    content: '';
    font-family: @icon_font;
    position: relative;
    top: -9px;
  }
}

#main ul.selectboxit-options li{
  padding:0;
}

input.shop-form-input{
  background: #fff;
  font-weight: normal;
  padding: 5px 10px;
  text-align: right;
  width: 98%;
}

#main .small-list{
  font-size: 95%;
  li{ padding:0px;}
}

blockquote{
  padding: 35px 75px;
  border-left: none;
  color: #fff;
  font-style: italic;
  background: rgba(27, 79, 84, 0.77);
  position: relative;
  &:before{
    content: url(/images/quote-start.png);
    position:absolute;
    top: 10px;
    left: 10px;
    opacity:.5;
  }
  &:after{
    content: url(/images/quote-end.png);
    position:absolute;
    bottom: 5px;
    right: 10px;
    opacity:.5;
  }

}

#faq-s {
  #main {
    ol li strong {
      font-size: 120%;
    }
  }
}

#main {
  margin-left: 336px;
  padding: 0 50px 50px 50px;
  min-height: 100vh;
  &.has-sidebar {
    border: none;
  }
  ol, ul {
    li {
      padding: 2px 0;

    }
  }
  ol {
    list-style-type: none;
    counter-reset: ol-counter;
    &[start="2"]{ counter-reset: ol-counter 1; }
    &[start="3"]{ counter-reset: ol-counter 2; }
    &[start="4"]{ counter-reset: ol-counter 3; }
    &[start="5"]{ counter-reset: ol-counter 4; }
    &[start="6"]{ counter-reset: ol-counter 5; }
    &[start="7"]{ counter-reset: ol-counter 6; }
    &[start="8"]{ counter-reset: ol-counter 7; }
    &[start="9"]{ counter-reset: ol-counter 8; }
    &[start="10"]{ counter-reset: ol-counter 9; }
    &[start="11"]{ counter-reset: ol-counter 10; }
    &[start="12"]{ counter-reset: ol-counter 11; }
    &[start="13"]{ counter-reset: ol-counter 12; }
    &[start="14"]{ counter-reset: ol-counter 13; }
    &[start="15"]{ counter-reset: ol-counter 14; }
    li {
      border-top: 1px solid @highlight_color;
      padding: 0 0 25px 30px;
    }
    & > li:before {
      content: counter(ol-counter);
      counter-increment: ol-counter;
      display: inline-block;
      font-size: 19pt;
      font-weight: bold;
      margin-left: -65px;
      margin-right: 10px;
      margin-top: -1px;
      text-align: center;
      width: 35px;
      background: @highlight_color;
      color: #fff;
    }
  }
}
body.gallery{
  #main{
    padding-right: 20px;
  }
}


@media screen and (max-width: 1100px) {

}

.card {
  margin: auto;
  background: fade(@highlight_color_links, 85);
  min-height: 370px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  color: #fff;
  h6 {
    text-transform: uppercase;
    margin-top: 0;
  }
  img {
    min-width: 100%;
    height: auto;
  }
}

.card-btn {
  display: block;
  margin: 10px auto;
  width: 300px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#home #main {
  background: none;
  border: none;
}

.tagline {
  position: absolute;
  bottom: 15vh;
  font-size: 148px;
  font-weight: bold;
  text-align: right;
  line-height: 80%;
  opacity: .15;
  width: 710px;
  right: 70px;
}

#picker {
  margin: 0;
  padding: 0 5px 0 0;
  border: 0;
  width: 120px;
  height: 29px;
  border-right: 30px solid black;
  line-height: 30px;
  text-align: right;
}


.weight{
  display: block;
  font-size: 12px;
  right: 5px;
  padding-right: 0;
  position: absolute;
  text-align: left;
  top: -17px;
}
.price {
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  width: 95px;
}
.price .note{
  display:none;
}


  .pattern-item {
    float: left;
    width: 220px;
    height: 324px;
    line-height: 40px;
    margin: 0 15px;
    padding: 15px 0;
    color: #fff;
    overflow: hidden;
    position: relative;
    .pattern-image {
      background: none;
      text-align: center;
      padding-top: 13px;
      padding-bottom: 3px;
    }

    &.pattern-dark {
      .pattern-image {
        background: fade(#fff, 20);
      }
    }
    .pattern-title {
      font-size: 120%;
      line-height: 30px;
      padding-bottom: 10px;
      text-align:center;
      a.panel-link{
        color:white;
        font-size:90%;
        &:hover{
          color:@highlight_color_links;
        }
      }
    }
    a {

    }
    &.large {
      width: 480px;
    }
    .pat-original {
      max-width: 200px;
      max-height: 255px;
    }
    .pat-placeholder {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
    .patter-wrap {
      border: 3px solid #adadad;
      overflow: hidden;
      width: 91px;
      height: 180px;
      margin: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
      &.flip-svg {
        width: 180px;
        height: 91px;
        padding-top: 14px;
        .pattern-svg {
          transform: rotate(90deg);
          margin-top: -62px;
        }
      }
    }
    .pattern-svg {
      margin: -3px;
      width: 92px;
      height: 181px;
    }
    .pattern-menu {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      line-height: 20px;
      text-align: right;
    }
  }


#patterns-grid.product-use {
  .pattern-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    height: auto;
    width:260px;
    .pattern-title {
      font-size: 110%;
      line-height: 24px;
      padding:10px 0;
      a{
        color:white;
        text-transform: uppercase;
        font-size:70%;
        &:hover{
          color: @highlight_color_links
        }
      }
    }
    .pattern-image {
      margin-bottom: 0px;
      padding: 0;
      height:200px;
      overflow:hidden;
      position:relative;
      img{
        max-height: 1000px !important;
        max-width: 1000px !important;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
    }
    .pattern-menu{
      position: relative;
      .weight{
        top: -20px;
      }
    }
  }
}

h4 a.cart-edit-btn {
  background: @highlight_color;
  color: #fff;
  font-size: 50%;
  margin-left: 15px;
  padding: 7px 25px;
  vertical-align: middle;
  transition: all 0.2s ease 0s;
  &:hover {
    text-decoration: none;
    transform: scale(0.90);
    background: fade(@highlight_color_links, 80);
  }
}

.cc_tbl {
  background: fade(#fff, 40);
  border: solid 5px fade(#fff, 90);
  color:#fff;
  th {
    padding-left: 10px;
  }
}

.ecom_tbl {
  width: 100%;
  input[type="text"] {
    width: 99%;
  }
  textarea{
    width: 99%;
    background: fade(@lighttext,80);
    color: #000;
    border:none;
  }
  td {
    vertical-align: top;
    padding: 3px 5px;
    border-top: #888 solid 1px;
  }
  .cart-option {
    font-size: 80%;
  }
}

.hidden-option, .hidden-option-always {
  height: 0;
  overflow: hidden;
}

.filter-menu{
  clear:both;

}

.stuck {
  position: fixed;
  top: 0;
  background: rgba(30,30,30,.95);
  width: 100%;
  z-index: 9;
  padding: 5px 30px 0px 30px;
  box-shadow: -20px 10px 20px rgba(30,30,30,.9);
}
.grid-item{
  width:210px;
  height:210px;
  overflow: hidden;
  text-align:center;
  margin:25px;
  float:left;
  img{
    max-width:200%;
    position: relative;
    left:100%;
    margin-left:-180%;
  }
}
.gallery-caption{
  padding:20px 70px;
  img{
    max-height:90vh;
  }

  @media screen and (max-width: 700px) {

    padding:20px 50px;
  }
}

.gallery-item{
  width:250px;
  height: 250px;
  background-position: center;
  background-size:cover;
  display:block;
}

button.mfp-close{
  font-size:40pt;
}



.slick-gallery {
}
/*
.slick-nav{
  white-space: nowrap;
  overflow-x: scroll;
}
*/

.slick-nav {
  text-align:left;
}
.slick-nav-item{
  display: inline-block;
}
.slick-slide img {
  margin:auto;
}
.slick-five-fix .slick-track{
  margin-left: -56px;
}
.btn-prev-arrow, .btn-next-arrow {
  position: absolute;
  top: 50%;
  font-size:180%;
  cursor: pointer;
  padding: 15px;
  line-height: 200%;
  z-index:999;
  &:hover{ color:#fff; }
}
.btn-prev-arrow{
  left: -40px;
}
.btn-next-arrow{
  right: -40px;
}

.mfp-content{
  text-align: center;
}
.mfp-textcontain{
  max-width: 500px;
  margin:auto;
  background: #000;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 30px 10px #000000;
}

.slick-prev, .slick-next {
  z-index: 999;
}


.slick-dots li.slick-active button::before {
  color: lighten(@highlight_color,20);
  opacity: 1;
}
.slick-dots li button::before{
  font-size:14px;
  color:#fff;
}
.slick-dots li button{
  color:#fff;
  &:hover{
    color: lighten(@highlight_color,20);
  }
}

.slick-nav-item {
  padding: 10px;
  img {
    cursor: pointer;
  }
}

.slick-img-item {
  .caption {
    display: none;
  }
  img {
    max-height: 400px;
    margin: auto;
  }
}
.slick-caption{ padding-left:10px; }

#datefrom, #dateto{
  width:42%;
  margin-bottom:3px;
}

.blog-entry-short {
  h3 {
    margin-top: 0;
  }
  .prm-btn {
    padding: 5px 20px;
    font-size: 12pt;
  }
}
.cart-btn{
  position: fixed;
  top: 10px;
  right:10px;
  i{ vertical-align: middle; }
}

.product-form{
  display: inline;
}

.related-products{
  background:#333;
  border: #666 solid 2px;
  padding: 5px;
  h5{ padding-left: 15px; }
  #patterns-grid.product-use .cal{
    min-height: 150px;
    width: 200px;
    margin-bottom: 15px;
  }
  .pattern-item .pattern-title {
    font-size: 80%;
    line-height: 26px;
    padding-bottom: 5px;
  }
}

@media screen and (max-height: 730px) {
  .sticky-nav .sticky-centered-contain {
    display: block;
    overflow-y: auto;
  }
}


@media screen and (max-width: 1400px) {
  .slick-img-item img {
    max-height: 300px;
  }
}
@media screen and (max-width: 1200px) {
  img {
    max-width: 100%;
    height:auto !important;
  }

  input {
    max-width: 90%;
  }
  .slick-img-item img {
    max-height: 200px;
  }

}

@media screen and (max-width: 1100px) {
  body{
    background-position: -80px 0;
  }
  .tagline {
    font-size: 80px;
    width: 400px;
  }

  #sidebar {
    width: 400px;
    #sidebar-nav {
      padding-left: 0;
      nav{
        border-left: none;
      }
    }
    footer{
      left:5px;
      width: 200px;
    }
  }
  .navbar .nav ul li a {
    font-size:15pt;
  }
  .navbar .nav {
    width: 52.5%;
  }
  #main{
    margin-left: 380px;
    padding: 50px 30px 30px 50px;
  }
  .slick-nav{
    display: none;
  }
  .cart-btn {
    position: absolute;
  }
  .btn-prev-arrow, .btn-next-arrow {
    font-size:200%;
  }
}


@media screen and (max-height:650px) {
  .navbar-default::after {
    content: " ";
    height: 110px;
  }
  #ui-datepicker-div{
    z-index: 9000 !important;
  }
  #sidebar footer {
    z-index: 1;
  }
  #sidebar #sidebar-nav nav #logo{
  }
  .navbar .nav ul li a{
    font-size: 17pt;
    line-height: 115%;
  }
  #sidebar #sidebar-nav nav{
    padding: 0 0 40px 0;
    #nav{
      z-index: 4;
      position: relative;
    }
  }
  #sidebar #sidebar-nav nav .prm-btn {
    margin-top:5px;
    box-shadow: 0 15px 30px 25px #000;
    position: relative;
    z-index: 2;
    &:hover{
      background: @highlight_color;
    }
  }
  .sticky-nav{
    z-index: 3;
    .svg-target{
      max-width: 170px;
    }
  }
  .sticky-nav .sticky-centered-contain {
    min-height:100vh;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .selectboxit-container .selectboxit-btn {
    max-width: 150px;
  }
  .selectboxit-container .selectboxit-options {
    width:150px;
    min-width: 150px !important;
  }
}

@media screen and (max-width: 992px) {
  body{
    background-position: -150px 0;
  }

  .sticky-nav{
    width: 176px;
    left:194px;
  }

  .tagline {
    font-size: 70px;
    width: 500px;
  }
  #sidebar {
    width: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    #patterns-grid{
      margin:0 -8px;
    }
  }
  #sidebar #sidebar-nav {
    display: block;
    height: auto;

    .svg-target{
      max-width: 130px;
    }
  }
  #nav_container {
    width: 100%;
  }
  #sidebar #sidebar-nav nav {
    padding: 10px 0;
  }
  .selectboxit-container .selectboxit-btn {
    max-width: 130px;
  }
  #main {
    margin-left: 370px;
    padding: 50px 20px 20px;
  }
  #sidebar footer {
    bottom: auto;
    left: auto;
    padding: 0 10% 10px 10px;
    position: static;
  }
  .btn-prev-arrow, .btn-next-arrow {
    font-size:180%;
    padding: 10px;
  }
  .btn-prev-arrow{
    left: -20px;
  }
  .btn-next-arrow{
    right: -20px;
  }
  .selectboxit-container .selectboxit-options {
    min-width: 130px !important;
    width: 130px;
  }

}

@media screen and (max-width: 992px) and (max-height:650px) {

  #sidebar #sidebar-nav nav {
    padding: 0;
  }
  .navbar-default::after {
    content: none;
    height: 0px;
  }
  #sidebar {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  html{ background-image: none !important; }
  body{ background: #000; }
  table {
    width: 100%;
    max-width: 100%;
  }

  table td {
    display: block;
    padding: 3px 0;
  }
  .ui-datepicker td {
    display:table-cell;
  }
  .responsive-br{
    display:block;
  }
  .reponsive-left{
    text-align: left;
  }
  .tagline {
    bottom: auto;
    font-size: 50px;
    font-weight: bold;
    line-height: 80%;
    opacity: 1;
    position: relative;
    right: auto;
    text-align: right;
    width: 100%;
  }

  .cart-btn {
    bottom: 0;
    top:auto;
    font-size: 15px;
    position: fixed;
    left: auto;
    right: 0;
    z-index: 9998;
  }

  #sidebar #sidebar-nav nav .prm-btn, #sidebar #sidebar-nav nav #logo {
    max-width: 100%;
  }
  #sidebar #sidebar-nav nav #logo {
     margin: 0 0 30px 10px;
     max-height: 40px;
     position: absolute;
     z-index: 10006;
  }
  #sidebar {
    overflow: visible;
    position: static;
    width:100%;
    #sidebar-nav{
      overflow: visible;
      max-height: none;
    }
  }
  #sidebar footer {
    padding: 10px;
  }
  .sticky-wrapper{
    padding:0px 20px;
  }
  .sticky-nav{
    top:60px;
    transition: @line-transition;
    width:100%;
    max-width:100%;
    display: block;
    text-align:right;
    background: #666;
    max-height: 100vh;
    min-height: 100vh;
    z-index: 9999;
    position: fixed;
    left:100%;
    .sticky-centered-contain .sticky-centered:after {
      content:" ";
      height: 80px;
      display: block;

    }
    &.collapse{
      &.in{
        display: block;
        left:0;
      }
    }
  }

  .btn-sticky.btn-navbar {
    z-index: 9999;
    width: 100%;
    text-align: center;
    height: auto;
    min-height:60px;
    white-space: normal;
    padding: 10px 5px;
    right:0px;
    background: lighten(@highlight_color,5);
    border:none;
    position: relative;
    &.stuck {
      position:fixed;
      width:100%;
      top:0;
    }
    &.open {
      background: lighten(@highlight_color, 15);
      position:fixed;
      width:100%;
      top:0;
      z-index: 10010;
      &:before{
        content: 'Close';
      }
    }
  }

  #main {
    margin-left: 0;
    padding: 10px 20px 150px 20px;
    border: none;

  }
  #nav_container {
    text-align: center;
  }

  .navbar .nav {
    width: 100%;
  }
  .navbar .nav ul li {
    padding-left:0px;
  }
  .navbar-default {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 10px 0 0 0;
    #nav {
      z-index: 10000;
      background: #000;
      border-bottom: none;
      padding: 0;

      position: absolute;
      text-align: left;
      top: 60px;
      max-height: 100vh;
      min-height: 100vh;
      ul {
        padding: 0;
        text-align: left;
        li {
          margin: 0;
          display: block;
          a {
            display: block;
            padding: 11px 10px;
            margin:0px;
            border: solid 1px #333;
            &.current, &:hover{
              background:#333;
            }
            br {
              display: none;
            }
            i {
              margin-left: 5px;
            }
          }
          .dropdown-menu {
            position: relative;
            text-align: left;
            float: none;
            li a {
              text-align: left;
            }
          }

          &:last-child:after {
            content:" ";
            height: 60px;
            display: block;

          }
        }
      }
    }
  }




  .btn-navbar {
    z-index: 10000;
    display: block;
    position: absolute;
    font-size: 18px;
    height: 60px;
    top:0px;
    font-weight: bold;
    color: #FFF;

    width: 100%;
    text-align: right;
    background: @highlight_color;
    border: none;
    border-radius: 0;
    padding: 11px 13px;
    cursor: pointer;
    user-select: none;
    &.btn:hover, &.btn:focus {
      color: #fff;
      text-decoration: none;
    }
    &.open {
      background: lighten(@highlight_color,10);
      .menu_hamburger{
        .lines {
          background: transparent;
          &:before, &:after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
            width: 4rem;
          }
          &:before {
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
          }
          &:after {
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
          }
        }
      }
    }
    .menu_hamburger {
      transition: @line-transition;
      height: 36px;
      display: inline-block;
      vertical-align: middle;
      &:focus {
        background: @highlight_color;
      }
      &:hover {
        background-color: #000;
        opacity: 1;
        .lines:before {
          top: 1.14286rem;
        }
        .lines:after {
          top: -1.14286rem;
        }
      }
      &:active {
        transition: 0s;
      }
      .lines {
        display: inline-block;
        width: 4rem;
        height: 0.57143rem;
        background: #ecf0f1;
        border-radius: 0.28571rem;
        transition: @line-transition;
        position: relative;
        &:before, &:after {
          display: inline-block;
          width: 4rem;
          height: 0.57143rem;
          background: #ecf0f1;
          border-radius: 0.28571rem;
          transition: @line-transition;
          position: absolute;
          left: 0;
          content: '';
          -webkit-transform-origin: 0.28571rem center;
          transform-origin: 0.28571rem center;
        }
        &:before {
          top: 1rem;
        }
        &:after {
          top: -1rem;
        }
      }
    }

  }

  .navbar-default #nav .dropdown-toggle {
    float: right;
    margin-top: -57px;
    padding: 0;
    a {
      padding: 0;
      margin: 0;
    }
    i {
      line-height: 57px;
      padding: 0 26px 0 13px;
      background: #5F6B71;
      color: #FFF;
    }
  }

  .navbar-default #nav .navbar-default #nav ul li a.dropdown-toggle {
    padding: 0;
  }

  .navbar-default .nav ul.dropdown-menu > li:last-child a {
    border-radius: 0;
  }

  .responsive_only {
    display: inherit;
  }

  img {
    display: block;
    margin: auto;
  }

  .gallery .pic_container {
    width: 100%
  }
  .pattern-item {
    width:100%;
    margin:0px;
  }

  .row.row-offcanvas.row-offcanvas-left{
    position:relative;
  }
  #sidebar footer{
    position: absolute;
    bottom:10px;
  }
  .sticky-nav .social-icons a{
    vertical-align: middle;
    img {
      margin: 1px 5px 2px;
    }
  }
  #sidebar footer .social-icons a {
    img {
      display: inline;
    }
  }
}

@media screen and (max-width: 350px) {

}