<h1>Welcome {{ user.username }}</h1>
<form action="/a.php?a=register" method="post">
    <div class="col-md-6">
        <div class="form-element">
            <input id="reg-name" type="text" name="user_login" value="{{ f.user_login }}" {% if f.user_login %}class="hasvalue" {% endif %} />
            <label for="reg-name">Username*</label>
        </div>
        <div class="form-element">
            <input id="reg-displayname" type="text" name="display_name" value="{{ f.display_name }}" {% if f.display_name %}class="hasvalue" {% endif %} />
            <label for="reg-displayname">Display Name</label>
        </div>
        <div class="form-element">
            <input id="reg-email" type="email" name="user_email" value="{{ f.user_email }}" {% if f.user_email %}class="hasvalue" {% endif %} />
            <label for="reg-email">Email*</label>
        </div>
        <div class="form-element">
            <input id="reg-url" type="text" name="user_url" value="{{ f.user_url }}" {% if f.user_url %}class="hasvalue" {% endif %} />
            <label for="reg-url">Website Url</label>
        </div>
        <input type="submit" value="Save" name="save" />
        <hr />
    </div>
    <div class="col-md-6">
        <div class="form-element">
            <input id="reg-pass" type="password" name="password" />
            <label for="reg-pass">Password*</label>
        </div>
        <div class="form-element">
            <input id="reg-pass2" type="password" name="password2" />
            <label for="reg-pass2">Re-Type Password*</label>
        </div>
    </div>
</form>