<br>
{% if blogs|length < 1 %}
    No Articles Found.
{% endif %}
{% for blog in blogs %}
    {% set url = "/p/#{page.keyword}/#{blog.keyword}" %}
    <div class="row blog-entry-short">
        <div class="col-md-8">
            <h3><a href="{{ url }}">{{ blog.title }}</a></h3>
            <h6>{{ blog.date_posted|date("F jS Y") }}</h6>
            {{ blog.summary|raw }}
        </div>
        <div class="col-md-4 right">
            <br>
            <p>
            <a class="prm-btn" href="{{ url }}">Read Article</a>
            </p>
        </div>
    </div>
    <hr>
{% endfor %}