<br>
<div class="row">
	<div class="col-md-12"  itemscope itemtype="http://schema.org/Article">
		<h2 itemprop="name">{{ blog.title }}</h2>
		{% if blog.image %}
			<img itemprop="image" src="/upload/blogs/600/{{ blog.image }}" alt="" />
		{% endif %}
		<h5 itemprop="datePublished" content="{{ blog.date_posted|date("Y-m-d") }}">{{ blog.date_posted|date("F jS Y") }}</h5>
		<span itemprop="articleBody">
		{{ blog.content|raw }}
		</span>
	</div>
</div>
<br>
<a href="/media" class="panel-link prm-btn">Back to Articles</a>