<h1>Review and Payment</h1><br/>

<div class="payment-errors" style="color: red;"></div>
<div class="row">
    <div class="col-md-6">
        <form action="checkout_process.php?a=cart-firstdata-checkout" method="post" id="payment-form">

            <h4>Checkout</h4>
            <table class="ecom_tbl cc_tbl">
                <tr>
                    <th colspan="2">Payment Information</th>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Number</td>
                    <td>
                        <input type="text" name="cc_number" class="card-number required creditcard"
                               value="{{ cc.cc_number }}" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Security Code</td>
                    <td>
                        <input type="text" name="cc_code" class="card-cvc required digits"
                               value="{{ cc.cc_code }}" autocomplete="off" size="4"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">Card Expiration</td>
                    <td>{{ ccdate|raw }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;"><input type="submit" value="Place Order"
                                                                      class="submit-button prm-btn"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Shopping Cart <a href="/cart" class="cart-edit-btn">Edit</a></h4>
        <table class="ecom_tbl">
        {{ carthtml|raw }}
            </table>
    </div>
</div>
<br/>
<h4>Billing and Shipping <a href="/cart-address" class="cart-edit-btn">Edit</a></h4>
<div class="row">
    <div class="col-md-6">
        <table class="ecom_tbl tbl_left twocol">
            <tr>
                <th colspan="2">Billing</th>
            </tr>
            <tr>
                <td><b>First Name</b></td>
                <td>{{ r.bi_firstname }}</b></td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>{{ r.bi_lastname }}</td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td>{{ r.bi_country }}</td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>{{ r.bi_address }}</td>
            </tr>
            <tr>
                <td><b>City</b></td>
                <td>{{ r.bi_city }}</td>
            </tr>
            <tr>
                <td><b>State/Province</b></td>
                <td>{{ r.bi_state }}</td>
            </tr>
            <tr>
                <td><b>Zip/Postal Code</b></td>
                <td>{{ r.bi_zip }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>{{ r.bi_email }}</td>
            </tr>
            <tr>
                <td><b>Phone</b></td>
                <td>{{ r.bi_phone }}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <table class="ecom_tbl tbl_left twocol">
            <tr>
                <th colspan="2">Shipping</th>
            </tr>
            <tr>
                <td><b>First Name</b></td>
                <td>{{ r.si_firstname }}</td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>{{ r.si_lastname }}</td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td>{{ r.si_country }}</td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>{{ r.si_address }}</td>
            </tr>
            <tr>
                <td><b>City</b></td>
                <td>{{ r.si_city }}</td>
            </tr>
            <tr>
                <td><b>State/Province</b></td>
                <td>{{ r.si_state }}</td>
            </tr>
            <tr>
                <td><b>Zip/Postal Code</b></td>
                <td>{{ r.si_zip }}</td>
            </tr>
        </table>
    </div>
</div>