<form action="/a.php?a=directory_submit" method="post">
    {% if f['id'] %}
        <input type="hidden" name="id" value="{{ f.id }}">
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-element">
                <input id="reg-name" type="text" name="name" value="{{ f['name'] }}" {% if f['name'] %}class="hasvalue" {% endif %} />
                <label for="reg-name">Name</label>
            </div>
            <div class="form-element">
                <textarea name="description" id="description" style="height:130px;"
                          {% if f.description %}class="hasvalue" {% endif %}>{{ f.description }}</textarea>
                <label for="reg-description">Description</label>
            </div>
            <div class="form-element">
                <input id="reg-website_address" type="text" name="website_address" value="{{ f['website_address'] }}"
                       {% if f['website_address'] %}class="hasvalue" {% endif %} />
                <label for="reg-website_address">Website Url</label>
            </div>
            <div class="form-element">
                <input id="reg-phone_number" type="text" name="phone_number" value="{{ f['phone_number'] }}"
                       {% if f['phone_number'] %}class="hasvalue" {% endif %} />
                <label for="reg-phone_number">Phone</label>
            </div>
            <div class="form-element">
                <input id="reg-fax" type="text" name="fax" value="{{ f['fax'] }}" {% if f['fax'] %}class="hasvalue" {% endif %} />
                <label for="reg-fax">Fax</label>
            </div>
            <div class="form-element">
                <input id="reg-contact_email" type="text" name="contact_email" value="{{ f['contact_email'] }}"
                       {% if f['contact_email'] %}class="hasvalue" {% endif %} />
                <label for="reg-contact_email">Email Contact</label>
            </div>

            <div class="form-element">coordinates
                <input id="reg-address" type="text" name="address" value="{{ f['address'] }}" {% if f['address'] %}class="hasvalue" {% endif %} />
                <label for="reg-address">Address</label>
            </div>
            <div class="form-element">
                <input id="reg-address_2" type="text" name="address_2" value="{{ f['address_2'] }}"
                       {% if f['address_2'] %}class="hasvalue" {% endif %} />
                <label for="reg-address_2">Address Line 2</label>
            </div>
            <div class="form-element">
                <input id="reg-country" type="text" name="country" value="{{ f['country'] }}" {% if f['country'] %}class="hasvalue" {% endif %} />
                <label for="reg-country">Country</label>
            </div>
            <div class="form-element">
                <input id="reg-city" type="text" name="city" value="{{ f['city'] }}" {% if f['city'] %}class="hasvalue" {% endif %} />
                <label for="reg-city">City</label>
            </div>
            <div class="form-element">
                <input id="reg-state_county" type="text" name="state_county" value="{{ f['state_county'] }}"
                       {% if f['state_county'] %}class="hasvalue" {% endif %} />
                <label for="reg-state_county">State/County/Province</label>
            </div>
            <div class="form-element">
                <input id="reg-postcode_zip" type="text" name="postcode_zip" value="{{ f['postcode_zip'] }}"
                       {% if f['postcode_zip'] %}class="hasvalue" {% endif %} />
                <label for="reg-postcode_zip">Postcode/Zip</label>
            </div>
            <div class="form-element">
                <input id="reg-coordinates" type="text" name="coordinates" value="{{ f['coordinates'] }}"
                       {% if f['coordinates'] %}class="hasvalue" {% endif %} />
                <label for="reg-coordinates">Coordinates <span class="note">(should be in "lat, long" format)</span></label>
            </div>
            <button id="generate_coordinates" class="btn prm-btn small-btn" style="margin-top:-10px;">
                Generate Coordinates From Address
            </button>
        </div>
        <div class="col-md-6">
            <h3>Specialties</h3>
            <ul class="formlist">
                {% for s in specialty %}
                    <li>
                        <input id="option_{{ s.id }}" name="option[]" value="{{ s.id }}" type="checkbox"
                               {% if f.options[s.id] %} checked="checked" class="hasvalue"{% endif %}>
                        <label for="option_{{ s.id }}"></label>
                        <p> {{ s.title }}</p>
                    </li>
                {% endfor %}
            </ul>

            <h3>Credentials</h3>
            <ul class="formlist">
                {% for s in credential %}
                    <li>
                        <input id="option_{{ s.id }}" name="option[]" value="{{ s.id }}" type="checkbox"
                                {% if f.options[s.id] %} checked="checked" class="hasvalue"{% endif %}>
                        <label for="option_{{ s.id }}"></label>
                        <p> {{ s.title }}</p>
                    </li>
                {% endfor %}
            </ul>
            <h3>Languages</h3>
            <ul class="formlist">
                {% for s in language %}
                    <li>
                        <input id="option_{{ s.id }}" name="option[]" value="{{ s.id }}" type="checkbox"
                                {% if f.options[s.id] %} checked="checked" class="hasvalue"{% endif %}>
                        <label for="option_{{ s.id }}"></label>
                        <p> {{ s.title }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <input type="submit" value="Save" name="submit">
</form>
<script>

    $(function () {

        $('#generate_coordinates').click(function (event) {
            event.preventDefault();
            $(this).html('Generating <i class="fa fa-cog fa-spin"></a>');
            $.ajax({
                type: 'POST',
                url: "/backroom/a_ajax.php",
                data: {
                    'a': 'get_coordinates',
                    'address': $('#address').val(),
                    'address-2': $('#address-2').val(),
                    'city': $('#city').val(),
                    'state-county': $('#state-county').val(),
                    'postcode-zip': $('#postcode-zip').val()
                }
            }).done(function (content) {
                $('#coordinates').val(content);
                $('#generate_coordinates').html('Coordinates Generated');
            });
        });
    });
</script>