
{% if l['description'] %}
<h2>Description</h2>
<p>{{ l['description']|raw }}</p>
{% endif %}
<div class="row">
    {% if l['website_address'] or l['phone_number'] or l['fax'] or l['contact_email'] %}
    <div class="col-md-6">
        <h2>Contact Info</h2>

        {% if l['website_address'] %}
            {{ l['website_address'] }}<br>
        {% endif %}
        {% if l['phone_number'] %}
            {{ l['phone_number'] }}<br>
        {% endif %}
        {% if l['fax'] %}
            {{ l['fax'] }}<br>
        {% endif %}
        {% if l['contact_email'] %}
            {{ l['contact_email'] }}<br>
        {% endif %}
    </div>
    {% endif %}
    <div class="col-md-6">
        <h2>Address</h2>
        {% if l['address'] %}
            {{ l['address'] }}<br>
        {% endif %}
        {% if l['address_2'] %}
            {{ l['address_2'] }}<br>
        {% endif %}
        {% if l['city'] %}
            {{ l['city'] }}
        {% endif %}
        {% if l['state_county'] %}
            {{ l['state_county'] }}
        {% endif %}
        {% if l['postcode_zip'] %}
            {{ l['postcode_zip'] }}
        {% endif %}
        {% if l['country'] %}
            <br>{{ l['country'] }}
        {% endif %}
    </div>
</div>