
<script type="text/javascript">
    $(document).ready(function(){

        var locations = [{{ locations|raw }}];

        //function found in lib/circle.js
        load_g_maps(locations,{{ session.latitude }},{{ session.longitude }});

        $('#find_location').click(function(){
            //function found in lib/circle.js
            getLocation();
        });
    });
</script>

<div id="map-canvas"></div><br />

<div class="provider_search">
    <b>Find a facilitator</b>

    <form action="/directory" method="post" id="ziplookup" name="ziplookup">
        <input type="hidden" value="true" name="form_submit" />
        <input type="hidden" value="" name="location_latitude" id="location_latitude" />
        <input type="hidden" value="" name="location_longitude" id="location_longitude" />

        {% if session.zip %}
            <input type="text" value="{{ session.zip }}" title="Zip Code" name="location_zip" id="location_zip" class="search_txt" />
        {% else %}
            <input type="text" placeholder="Zip Code" value="" title="Zip Code" name="location_zip" id="location_zip" class="search_txt" onblur="resetDefault(this)" onfocus="clearDefault(this)" />
        {% endif %}
        <a href="javascript: document.ziplookup.submit();" title="Search Zip Code" class="btn btn-primary">Seach Zip Code <i class="fa fa-search"></i></a>
        &nbsp;
        <a href="javascript:void();"  title="Find Location" id="find_location" class="btn btn-primary" >Use My Location <i class="fa fa-crosshairs"></i></a><br />
        <hr />
        <select name="specialty">
            <option value="">Specialty</option>
            {% for k,t in types.specialty %}
                <option value="{{ k }}" {% if k == post.specialty %}selected="selected"{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
        <select name="credential">
            <option value="">Credentials</option>
            {% for k,t in types.credential %}
                <option value="{{ k }}" {% if k == post.credential %}selected="selected"{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
        <select name="language">
            <option value="">Language</option>
            {% for k,t in types.language %}
                <option value="{{ k }}" {% if k == post.language %}selected="selected"{% endif %}>{{ t }}</option>
            {% endfor %}
        </select>
        <select name="distance">
            <option value="250" {% if post.distance == '250' %}selected="selected"{% endif %}>Within 250 miles</option>
            <option value="200" {% if post.distance == '200' %}selected="selected"{% endif %}>Within 200 miles</option>
            <option value="150" {% if post.distance == '150' %}selected="selected"{% endif %}>Within 150 miles</option>
            <option value="100" {% if post.distance == '100' %}selected="selected"{% endif %}>Within 100 miles</option>
            <option value="50" {% if post.distance == '50' %}selected="selected"{% endif %}>Within 50 miles</option>
        </select>
        <a href="javascript: document.ziplookup.submit();" title="Filter Results" id="update_results" class="btn btn-primary">Filter Results <i class="fa fa-search"></i></a>
    </form>
</div>

{% if location_results %}

    <table class="providers">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Speciality</th>
            <th>Credentials</th>
            <th>Languages</th>
        </tr>
        {% for l in location_results %}
        <tr>
            <td><a href="/directory/{{ l.id }}/">{{ l.name }}</a></td>
            <td>
                {% if l.address %}
                    {{ l.address }}<br>
                {% endif %}
                {% if l['address_2'] %}
                    {{ l['address_2'] }}<br>
                {% endif %}
                {% if l.city %}
                    {{ l.city }}
                {% endif %}
                {% if l.state-county %}
                    {{ l.state-county }}
                {% endif %}
                {% if l.postcode-zip %}
                    {{ l.postcode-zip }}
                {% endif %}
                {% if l.country %}
                    <br>{{ l.country }}
                {% endif %}
            </td>
            <td>
                {% if l.opts['specialty'] %}
                    {{ l.opts['specialty'] }}
                {% else %}
                    None Specified
                {% endif %}
            </td>
            <td>
                {% if l.opts['credential'] %}
                    {{ l.opts['credential'] }}
                {% else %}
                    None Specified
                {% endif %}
            </td>
            <td>
                {% if l.opts['language'] %}
                    {{ l.opts['language'] }}
                {% else %}
                    None Specified
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No Results Found</h3>
{% endif %}