<br>
{% if photos|length < 1 %}
    No Images Found.
{% endif %}
{{ filters|raw }}
<div class="grid-gallery">
    {% for photo in photos %}
        <div class="grid-item gal_{{ photo.id }} {% for t in photo.tags %} {{ t }}{% endfor %}">
            <a href="#item-{{ photo.id }}" class="gallery-item" style="background-image: url('/upload/photos/400/{{ photo.image }}');">
            </a>
            <div class="gallery-caption" id="item-{{ photo.id }}">
                <div class="row">
                    <div class="col-md-8 text-right">
                        <img src="/upload/photos/800/{{ photo.image }}" alt=""/>
                    </div>
                    <div class="col-md-4 text-left">
                        <div class="gallery-disc">
                            <h5>{{ photo.title }}</h5>
                            {% if photo.content %}
                                {{ photo.content|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var mfp = $('.grid-gallery').magnificPopup({
            type: 'inline',
            delegate: '.gallery-item:not(.hidden)', // the selector for gallery item
            midClick: true,
            showCloseBtn: true,
            closeBtnInside: false,
            gallery: {
                enabled: true
            }
        });
        var $grid = $('.grid-gallery').isotope({
            itemSelector: '.grid-item',
            layoutMode: 'fitRows'
        });


        // bind filter button click
        $('.filters').on('change', function () {
            var filterValue = $(this).val();
            $(".filters").each(function () {
                dom_id = '#' + $(this).attr('id');
                var otherValue = $(dom_id).val();

                if (otherValue != filterValue && otherValue != '') {
                    dom_id = dom_id.replace("SelectBoxIt", "");

                    $(dom_id).val("");

                    var selectBox = $(dom_id).data("selectBox-selectBoxIt").refresh();
                }
            });


            if (filterValue) {

                filterValue = '.' + filterValue;
                // use filterFn if matches value

            }
            $grid.isotope({filter: filterValue});
            $('.gallery-item').addClass('hidden');
            $(filterValue + ' .gallery-item').removeClass('hidden');

        });

    });
</script>