<h5>Categories</h5>
{% for tag in blogstags %}
    <a style="margin-bottom:5px;" {% if current.cat == tag.id %}class="currenttag"{% endif %} href="/media?category={{ tag.id }}">{{ tag.title }} ({{ tag.count }})</a>
{% endfor %}

<h5>Date Range</h5>
<form method="get" action="/media">
    {% if current.cat %}
        <input type="hidden" name="category" value="{{ current.cat }}" />
    {% endif %}
	<div class="reponsive-left">
    <input type="text" placeholder="start" id="datefrom" name="startd" {% if current.startd %}value="{{ current.startd }}"{% endif %} />
	<span class="responsive-br"></span>
    To <input type="text" placeholder="end" id="dateto" name="endd" {% if current.endd %}value="{{ current.endd }}"{% endif %} />
	<span class="responsive-br"></span>
    <input type="submit" value="Find Stories" />
	</div>
</form>

<h5>Follow Us</h5>
<div class="social-icons">
    <a href="http://www.houzz.com/pro/revamppanels/revamp-panels" target="_blank"><img
                src="/images/houzz-icon.png" alt="Houzz" style="width: 11px; vertical-align: sub;"/></a>
    <a href="https://www.facebook.com/revamppanels" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
    <a href="https://instagram.com/revamppanels/" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/revamp-panels" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
</div>

<script>
    $(function(){
        $( "#datefrom" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            dateFormat : 'yy-mm-dd',
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#dateto" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#dateto" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            dateFormat : 'yy-mm-dd',
            numberOfMonths: 1,
            onClose: function( selectedDate ) {
                $( "#datefrom" ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
</script>