<br>
{% if blogs|length < 1 %}
    No Articles Found.
{% endif %}
{% for blog in blogs %}
    <div class="row blog-entry-short">
        <div class="col-md-3">
            {% if blog.image %}
            <a href="/media/{{ blog.keyword }}"><img src="/upload/blogs/thumb/{{ blog.image }}" alt="" /></a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3><a href="/media/{{ blog.keyword }}">{{ blog.title }}</a></h3>
            <h5>{{ blog.date_posted|date("F jS Y") }}</h5>
            {{ blog.summary|raw }}
        </div>
        <div class="col-md-3 right">
            <a class="prm-btn" href="/media/{{ blog.keyword }}">Read Article</a>
        </div>
    </div>
    <hr>
{% endfor %}