{{ filters|raw }}
<div id="patterns-grid">
    {% for panel in panels %}
        <div class="pattern-item" data-id="{{ panel.id }}" {% if panel.hide %} style="display:none;" {% endif %}>
            <div class="pattern-image">
                <a href="#svg-{{ panel.id }}" class="svg-thumb">
                    <svg class="svg-target" width="190" height="200" imgsrc="{{ panel.image }}"></svg>
                </a>
                <div class="mfp-hide" id="svg-{{ panel.id }}">
                    <svg class="svg-target svg-zoom"  width="500" height="500" href="{{ panel.image }}" imgsrc="{{ panel.image }}"></svg>
                </div>
            </div>
            <div class="pattern-title">
                {{ panel.title }}<br>
                <a class="panel-link" href="{{ panel.link }}">
                    <i class="fa fa-chevron-circle-right"></i> View Pattern
                </a>
            </div>
        </div>
    {% endfor %}
</div>
