<div id="panel-form" class="filter-menu">

        <div class="filter-option">
            <h6>Size</h6>
            <label>
                <select class="size-form purchase_options" id="size-form" name="id">
                    {% for size in sizes %}
                        <option value="{{ size.id }}"
                                {% if size.id == currentsize %} selected="selected" {% endif %}
                                data-image="{{ size.xsize }}x{{ size.ysize }}.svg">{{ size.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    {% for category, option in options %}
        {% if category != 'Pattern' %}
        <div class="filter-option">
            <div class="optioncontain {% if category == 'Pattern' %} hidden-option-always {% endif %}">
                <h6>
                    {{ category }}
                    {% if option.cat.description %}
                        <a class="text-popup" title="{{ category }} Information" href="#catdesc-{{ option.cat.id }}"><i class="fa fa-info-circle"></i></a>
                    {% endif %}
                </h6>
                {% if option.cat.description %}
                    <div class="mfp-hide mfp-textcontain" id="catdesc-{{ option.cat.id }}">
                        {{ option.cat.description|raw }}
                    </div>
                {% endif %}
                <label>
                    <select class="purchase_options" id="opt-{{ category|replace({' ': '-'}) }}" name="opt[{{ category|replace({' ': '-'}) }}]">
                        {% for entry in option.opts %}
                            <option value="{{ entry.id }}"
                                    {% if entry.id in currentopts %} selected="selected" {% endif %}
                                    {% if entry.color_option %} data-color="{{ entry.color_option }}" {% endif %}
                                    data-text='
                                    {% if entry.color_option %}
                                        <span class="c-sample" style="background:#{{ entry.color_option }}"></span>
                                    {% endif %}
                                    {{ entry.title }}
                                '>
                                {{ entry.title }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">

    var svgcolor = '{{ options['Color'][0].color_option }}';
    var hex = svgcolor;


    var sizes_options = [];

    {% for size in sizes %}
    sizes_options[{{ size.id }}] = [
        {% for option in size.available_options %}{{ option }}, {% endfor %}
    ];
    {% endfor %}


    function optionchange() {
        //set counter so that multiple
        {% for oid,options in exclude_options %}
        {% for option in options %}
        var opt{{ option }} = 0;
        {% endfor %}
        {% endfor %}

        var hiddenoptions = new Array();

        {% for oid,options in exclude_options %}
        if($('select[name!="id"] option[value="{{ oid }}"]').parent().val() == {{ oid }}) {
            {% for option in options %}
            opt{{ option }}++;
            $('select[name!="id"] option[value="{{ option }}"]').attr('disabled','disabled');
            {% endfor %}
        }else{
            {% for option in options %}
            if(opt{{ option }}<1) {
                $('select[name!="id"] option[value="{{ option }}"]').removeAttr('disabled');
            }
            {% endfor %}
        }
        {% endfor %}

        $('select.purchase_options[name^="opt["]').each(function() {
            var enabledcount = $('option:not(:disabled)',this).length;
            if(enabledcount>0){
                $(this).parent().parent().removeClass('hidden-option');
            }else{
                $(this).parent().parent().addClass('hidden-option');
            }

            dom_id = '#'+$(this).attr('id');
            if($(this).val()===null) {
                $("select" + dom_id + " option").removeAttr('selected');
                $("select" + dom_id + " option:not(:disabled)").first().attr("selected", "selected");
            }
            $("select" + dom_id).data("selectBox-selectBoxIt").refresh();
        });


        {% for category,option in options_cat_display %}
        console.log('#opt-{{ category }}');
        if($('select[name!="id"] option[value="{{ option }}"]').parent().val() == {{ option }}) {
            $('#opt-{{ category }}').parent().parent().removeClass('hidden-option');
        }else{
            $('#opt-{{ category }}').parent().parent().addClass('hidden-option');
            $('#opt-{{ category }}').val($('#opt-{{ category }} option:first').val());
            $("select#opt-{{ category }} option").removeAttr('selected');
            $("select#opt-{{ category }} option:not(:disabled)").first().attr("selected", "selected");
            $("select#opt-{{ category }}").data("selectBox-selectBoxIt").refresh();
        }
        {% endfor %}
        svg_color_change('svg-target', $('option[data-color]:selected').attr('data-color'));


        $('#opt-Pattern option:disabled').each(function(){
            $('.pattern-item[data-id='+$(this).attr('value')+']').hide();
        });
        vg.vgrefresh(null, null, null, function(){ });
    }


    $(function () {
        $("#size-form").val('{{ currentsize }}');

        // change_panel_price($(".sticky-centered"));
        // change_panel_weight($(".sticky-centered"));
        hex = $('option[data-color]:selected').attr('data-color');
        svg_color_change('svg-target',hex);

        selectedsize = $('#size-form').val();
        //Hide unavailable options
        $('select[name^="opt["] option').each(function() {
            optval = $(this).val();
            if($.grep(sizes_options[selectedsize], function(e){ return e == optval; }).length > 0){
                $(this).removeAttr('disabled');
                $('.pattern-item[data-id='+$(this).attr('value')+']').show();
            }else{
                $(this).attr('disabled','disabled');
                $('.pattern-item[data-id='+$(this).attr('value')+']').hide();
            }
        });

        optionchange();
        $("#size-form").data("selectBox-selectBoxIt").refresh();





        // $('.add-pattern-cart').click(function(){
        //     $('#opt-Pattern option[value="'+$(this).parent().parent().attr('data-id')+'"]').prop('selected', true);
        //     $('#panel-form').submit();
        // });

        // $('.panel-link').click(function(e){
        //     e.preventDefault();
        //     window.location = $(this).attr('href')+'?'+$('select:not([name="opt[Pattern]"])', '#panel-form').serialize();
        // });

        $("#panel-form").change(function () {
            optionchange();
            // change_panel_price(this);
            // change_panel_weight(this);
        });

    });
</script>