<form action="" method="post">
    <input type="hidden" name="formsubmit" value="true"/>

    <div class="row">
        <div class="col-md-12">
            <h4>Contact Information</h4>
            <table class="ecom_tbl">
                <tr>
                    <td style="text-align:right; width:40%;">Name</td>
                    <td>
                        <input type="text" name="name" value=""/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Company</td>
                    <td>
                        <input type="text" name="company" value=""/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Email</td>
                    <td>
                        <input type="text" name="bi_email" value="" required/></td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Phone
                    </td>
                    <td>
                        <input type="text" name="bi_phone" value=""/></td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Preferred Contact Method
                    </td>
                    <td>
                        (You can check both boxes)<br>
                        <label><input type="checkbox" value="Email" name="contactpref[]"/> Email</label> &nbsp;
                        <label><input type="checkbox" value="Phone" name="contactpref[]"/> Phone</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bold;"><br>If we need to contact you by phone, what would be the
                        best time? Revamp Panels business hours are 8am to 5pm Pacific Time, Monday through
                        Friday. Please check next to day and time. You may check multiple boxes.
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Day(s) of the Week
                    </td>
                    <td>
                        <label><input type="checkbox" value="Monday" name="contactdate[]"/> Monday</label> &nbsp;
                        <label><input type="checkbox" value="Tuesday" name="contactdate[]"/> Tuesday</label> &nbsp;
                        <label><input type="checkbox" value="Wednesday" name="contactdate[]"/> Wednesday</label> &nbsp;
                        <label><input type="checkbox" value="Thursday" name="contactdate[]"/> Thursday</label> &nbsp;
                        <label><input type="checkbox" value="Friday" name="contactdate[]"/> Friday</label>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Time(s)</td>
                    <td>
                        (Pacific Standard Time)<br>
                        <label><input type="checkbox" value="8am" name="contacttime[]"/> 8am</label> &nbsp;
                        <label><input type="checkbox" value="9am" name="contacttime[]"/> 9am</label> &nbsp;
                        <label><input type="checkbox" value="10am" name="contacttime[]"/> 10am</label> &nbsp;
                        <label><input type="checkbox" value="11am" name="contacttime[]"/> 11am</label> &nbsp;
                        <label><input type="checkbox" value="12pm" name="contacttime[]"/> 12pm</label> &nbsp;
                        <label><input type="checkbox" value="1pm" name="contacttime[]"/> 1pm</label> &nbsp;
                        <label><input type="checkbox" value="2pm" name="contacttime[]"/> 2pm</label> &nbsp;
                        <label><input type="checkbox" value="3pm" name="contacttime[]"/> 3pm</label> &nbsp;
                        <label><input type="checkbox" value="4pm" name="contacttime[]"/> 4pm</label>
                    </td>
                </tr>
            </table>
            <h4>Project Information</h4>
            <table class="ecom_tbl">
                <tr>
                    <td style="text-align:right; width: 40%">Please provide project name or reference, if applicable
                    </td>
                    <td>
                        <textarea name="project"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">
                        Please provide a description of your project using the following criteria:
                    </td>
                    <td>
                        <ul class="small-list">
                            <li>If this is a commercial building, what type?</li>
                            <li>If this is a business, what type?</li>
                            <li>Is this a residence?</li>
                            <li>Is this a landscape project, building exterior, or building interior?</li>
                            <li>Is this new construction or a remodel?</li>
                        </ul>
                        <textarea name="description"></textarea></td>
                </tr>

                <tr>
                    <td style="text-align:right;">Please provide an estimate of the scale of your project?</td>
                    <td><textarea name="scale"></textarea></td>
                </tr>
                <tr>
                    <td style="text-align:right;">What services would you like from Revamp Panels™?</td>
                    <td><textarea name="services"></textarea></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Would you like to use one of Revamp Panels™ patterns or would you like
                        a custom design?
                    </td>
                    <td><textarea name="patterns"></textarea></td>
                </tr>
                <tr>
                    <td style="text-align:right;">What is the estimated delivery date for Revamp products?</td>
                    <td><textarea name="date"></textarea></td>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <div style="text-align:center;"><input type="submit" value="Submit Request" class="prm-btn"/></div>
</form>

<script type="text/javascript">
    $("#quoteform").validate();
</script>