<form action="" method="post" id="quoteform">
    <input type="hidden" name="formsubmit" value="true" />
    <div class="row">
        <div class="col-md-12">
            <h4>Contact Information</h4>
            <table class="ecom_tbl">
                <tr>
                    <td style="text-align:right; width:30%;">Name</td>
                    <td>
                        <input type="text" name="name" value=""/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Company</td>
                    <td>
                        <input type="text" name="company" value=""/></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Email</td>
                    <td>
                        <input type="text" name="bi_email" value="" required /></td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Phone
                    </td>
                    <td>
                        <input type="text" name="bi_phone" value=""/></td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Preferred Contact Method
                    </td>
                    <td>
                        (You can check both boxes)<br>
                        <label><input type="checkbox" value="Email" name="contactpref[]"/> Email</label> &nbsp;
                        <label><input type="checkbox" value="Phone" name="contactpref[]"/> Phone</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bold;"><br>If we need to contact you by phone, what would be the
                        best time? Revamp Panels business hours are 8am to 5pm Pacific Time, Monday through Friday.
                        Please check next to day and time. You may check multiple boxes.
                    </td>
                    </tr>
                <tr>
                    <td style=" text-align:right;">Day(s) of the Week
                    </td>
                    <td>
                        <label><input type="checkbox" value="Monday" name="contactdate[]" /> Monday</label> &nbsp;
                        <label><input type="checkbox" value="Tuesday" name="contactdate[]" /> Tuesday</label> &nbsp;
                        <label><input type="checkbox" value="Wednesday" name="contactdate[]" /> Wednesday</label> &nbsp;
                        <label><input type="checkbox" value="Thursday" name="contactdate[]" /> Thursday</label> &nbsp;
                        <label><input type="checkbox" value="Friday" name="contactdate[]" /> Friday</label>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align:right;">Time(s)</td>
                    <td>
                        (Pacific Standard Time)<br>
                        <label><input type="checkbox" value="8am" name="contacttime[]" /> 8am</label> &nbsp;
                        <label><input type="checkbox" value="9am" name="contacttime[]" /> 9am</label> &nbsp;
                        <label><input type="checkbox" value="10am" name="contacttime[]" /> 10am</label> &nbsp;
                        <label><input type="checkbox" value="11am" name="contacttime[]" /> 11am</label> &nbsp;
                        <label><input type="checkbox" value="12pm" name="contacttime[]" /> 12pm</label> &nbsp;
                        <label><input type="checkbox" value="1pm" name="contacttime[]" /> 1pm</label> &nbsp;
                        <label><input type="checkbox" value="2pm" name="contacttime[]" /> 2pm</label> &nbsp;
                        <label><input type="checkbox" value="3pm" name="contacttime[]" /> 3pm</label> &nbsp;
                        <label><input type="checkbox" value="4pm" name="contacttime[]" /> 4pm</label>
                    </td>
                </tr>
            </table>
            <h4>Panel Modification Information</h4>
            <ol id="panel-form-list">
                <li class="custom-panels">
                    <div class="row">
                    <div class="col-md-12">
                <table class="ecom_tbl">
                    <tr>
                        <td style="text-align:right; width: 40%">Please provide a short description of modifications you are requesting.</td>
                        <td>
                            <textarea name="description[]"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Quantity of panels for this modification to be ordered?</td>
                        <td>
                            <input type="text" name="quantity[]" value=""/>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;">Please provide the panel measurements.</td>
                        <td>
                            <input type="text" name="xdim[]"> :X<br>
                            <input type="text" name="ydim[]"> :Y
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Pattern</td>
                        <td>
                            {{ patterns|raw }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Material</td>
                        <td>
                            {{ material|raw }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">Color</td>
                        <td>
                            {{ color|raw }}
                        </td>
                    </tr>
                </table>
                    </div></div>
                </li>
            </ol>
            <button name="duplicate" type="button" class="prm-btn" id="dup-panel-form">Add Another Panel</button>
        </div>
    </div>
    <br>
    <div style="text-align:center;"><input type="submit" value="Submit Request" class="prm-btn" /></div>
</form>

<script type="text/javascript">
$("#quoteform").validate();
    $('#dup-panel-form').click(function(){
        $(".custom-panels").last().clone().appendTo( "#panel-form-list" );
    });



$(function () {
    $('body').on('click', 'select', function() {

        $('option').removeAttr('disabled');
        $("select").each(function () {
            {% for oid,options in exclude_options %}
            console.log($(this).val());
            if($(this).val() == {{ oid }}) {
                {% for option in options %}
                $(this).parent().parent().parent().find('option[value="{{ option }}"]').attr('disabled','disabled');
                {% endfor %}
            }
            {% endfor %}
        });
    });
});


</script>