<form id="panel-form" method="get" action="/checkout_process.php">
    <input type="hidden" name="a" value="cart-add" />
    <div class="optioncontain">
        <h6>Size</h6>
        <label>
            <select class="size-form purchase_options" id="size-form" name="id">
                {% for size in sizes %}
                    <option value="{{ size.id }}"
                            {% if size.id in selectedsize %} selected="selected" {% endif %}
                            data-image="{{ size.xsize }}x{{ size.ysize }}.svg">{{ size.title }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    {% for category, option in options %}
        <div class="optioncontain {% if category == 'Pattern' %} hidden-option-always {% endif %}">
            <h6>
                {{ category }}
                {% if option.cat.description %}
                    <a class="text-popup" title="{{ category }} Information" href="#catdesc-{{ option.cat.id }}"><i class="fa fa-info-circle"></i></a>
                {% endif %}
            </h6>
            {% if option.cat.description %}
                <div class="mfp-hide mfp-textcontain" id="catdesc-{{ option.cat.id }}">
                    {{ option.cat.description|raw }}
                </div>
            {% endif %}
            <label>
                <select class="purchase_options" id="opt-{{ category|replace({' ': '-'}) }}" name="opt[{{ category|replace({' ': '-'}) }}]">
                    {% for entry in option.opts %}
                        <option class="opt_op" value="{{ entry.id }}"
                                {% if entry.id in currentopts %} selected="selected" {% endif %}
                                {% if entry.color_option %} data-color="{{ entry.color_option }}" {% endif %}
                                data-text='
                                {% if entry.color_option %}
                                    <span class="c-sample" style="background:#{{ entry.color_option }}"></span>
                                {% endif %}
                                {{ entry.title }}
                            '>
                            {{ entry.title }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>
    {% endfor %}
    <!--<div class="optioncontain ">
        <h6>Quantity</h6>
        <input type="text" name="qty" value="1" class="shop-form-input"
               onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
    </div>-->
    <div id="patterns-grid">
        <div class="pattern-item" data-id="{{ p.id }}">
            <div class="pattern-image">
                <a href="#svg-{{ p.id }}" class="svg-thumb">
                    <svg class="svg-target" width="170" height="110" imgsrc="{{ p.image }}"></svg>
                </a>
                <div class="mfp-hide" id="svg-{{ p.id }}">
                    <svg class="svg-target svg-zoom"  width="500" height="500" href="{{ p.image }}" imgsrc="{{ p.image }}"></svg>
                </div>
            </div>
            <!--<div class="pattern-menu">
                <div class="weight"></div>
                <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer"></span>
            </div>-->
        </div>
    </div>
    <!--<input type="submit" class="prm-btn" value="Add To Cart" />-->
    <a class="prm-btn text-center" href="/contact" style="width:100%; margin-top:-20px;">Contact for Pricing</a>
</form>
<script type="text/javascript">
    var svgcolor = '{{ options['Color'][0].color_option }}';
    var hex = svgcolor;

    var sizes_options = [];

    {% for size in sizes %}
    sizes_options[{{ size.id }}] = [
        {% for option in size.available_options %}
        {{ option }},
        {% endfor %}
    ];
    {% endfor %}


    function optionchange() {
        //set counter so that multiple
        {% for oid,options in exclude_options %}
        {% for option in options %}
        var opt{{ option }} = 0;
        {% endfor %}
        {% endfor %}

        var hiddenoptions = new Array();

        {% for oid,options in exclude_options %}
        if($('select[name!="id"] option[value="{{ oid }}"]').parent().val() == {{ oid }}) {
            {% for option in options %}
            opt{{ option }}++;
            $('select[name!="id"] option[value="{{ option }}"]').attr('disabled','disabled');
            {% endfor %}
        }else{
            {% for option in options %}
            if(opt{{ option }}<1) {
                $('select[name!="id"] option[value="{{ option }}"]').removeAttr('disabled');
            }
            {% endfor %}
        }
        {% endfor %}

        $('select.purchase_options[name^="opt["]').each(function() {
            var enabledcount = $('option:not(:disabled)',this).length;
            if(enabledcount>0){
                $(this).parent().parent().removeClass('hidden-option');
            }else{
                $(this).parent().parent().addClass('hidden-option');
            }

            dom_id = '#'+$(this).attr('id');
            if($(this).val()===null) {
                $("select" + dom_id + " option").removeAttr('selected');
                $("select" + dom_id + " option:not(:disabled)").first().attr("selected", "selected");
            }
            $("select" + dom_id).data("selectBox-selectBoxIt").refresh();
        });


        {% for category,option in options_cat_display %}
            if ($('select[name!="id"] option[value="{{ option }}"]').parent().val() == {{ option }}) {
                $('#opt-{{ category }}').parent().parent().removeClass('hidden-option');
            } else {
                $('#opt-{{ category }}').parent().parent().addClass('hidden-option');
                $('#opt-{{ category }}').val($('#opt-{{ category }} option:first').val());
                $("select#opt-{{ category }} option").removeAttr('selected');
                $("select#opt-{{ category }} option:not(:disabled)").first().attr("selected", "selected");
                $("select#opt-{{ category }}").data("selectBox-selectBoxIt").refresh();
            }
        {% endfor %}
        svg_color_change('svg-target', $('option[data-color]:selected').attr('data-color'));
    }

    $(function () {
        change_panel_price($(".sticky-centered"));
        change_panel_weight($(".sticky-centered"));
        hex = $('option[data-color]:selected').attr('data-color');
        svg_color_change('svg-target',hex);


        selectedsize = $('option:selected').val();
        //disable unavailable options
        $('select[name^="opt["] option').each(function() {
            optval = $(this).val();
            if($.grep(sizes_options[selectedsize], function(e){ return e == optval; }).length > 0){
                $(this).removeAttr('disabled');
                $('.pattern-item[data-id='+$(this).attr('value')+']').show();
            }else{
                $(this).attr('disabled','disabled');
                $('.pattern-item[data-id='+$(this).attr('value')+']').hide();
            }
        });
        optionchange();

        $('.panel-link').click(function(e){
            e.preventDefault();
            window.location = $(this).attr('href')+'?'+$('select:not([name="opt[Panel]"])', '#panel-form').serialize();
        });

        $(".sticky-centered").change(function () {
            optionchange();
            change_panel_price(this);
            change_panel_weight(this);
        });
    });
</script>