<h1>{{ p.title }}</h1>
{{ p.gallery|raw }}
{{ p.content|raw }}



{% if related %}
    <br><br>
    <div class="related-products cf">
        <h5>Suggested Accessories</h5>
        <div id="patterns-grid" class="product-use">
            {% for p in related %}
                <div class="pattern-item" data-id="{{ p.id }}">
                    <div class="pattern-title">
                        <a class="panel-link" href="/product?id={{ p.id }}">
                            {{ p.title }}
                        </a>
                    </div>
                    <div class="pattern-image">
                        {% if p.image %}
                            <a class="panel-link" href="/product?id={{ p.id }}">
                                <img src="/upload/photos/400/{{ p.image }}" alt="" />
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<br>
{{ returnlink|raw }}