<form id="panel-form" method="get" action="/checkout_process.php">
    <h5>{{ p.title }} Options</h5>
    <input type="hidden" name="a" value="cart-add" />
    <input name="id" type="hidden" value="{{ p.id }}"/>
    {% for category, option in options %}
        <div class="optioncontain">
            <h6>
                {{ category }}
                {% if option.cat.description %}
                    <a class="text-popup" title="{{ category }} Information" href="#catdesc-{{ option.cat.id }}"><i class="fa fa-info-circle"></i></a>
                {% endif %}
            </h6>
            {% if option.cat.description %}
                <div class="mfp-hide mfp-textcontain" id="catdesc-{{ option.cat.id }}">
                    {{ option.cat.description|raw }}
                </div>
            {% endif %}
            <label>
                <select class="purchase_options" id="opt-{{ category|replace({' ': '-'}) }}" name="opt[{{ category|replace({' ': '-'}) }}]">
                    {% for entry in option.opts %}
                        <option value="{{ entry.id }}"
                                {% if entry.id in currentopts %} selected="selected" {% endif %}
                                {% if entry.color_option %} data-color="{{ entry.color_option }}" {% endif %}
                                data-text='
                                {% if entry.color_option %}
                                    <span class="c-sample" style="background:#{{ entry.color_option }}"></span>
                                {% endif %}
                                {{ entry.title }}
                            '>
                            {{ entry.title }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>
    {% endfor %}
    <div class="optioncontain ">
        <h6>Quantity</h6>
        <input type="text" name="qty" value="1" class="shop-form-input"
               onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
    </div>
    <div class="pattern-item no-svg">
    <span class="weight"></span>
    <span class="price"></span>
    </div>
    <input type="submit" class="prm-btn" value="Add To Cart" />
</form>
<script type="text/javascript">

    $(function () {

        function optionchange() {
            {% for category,option in options_cat_display %}
            if ($('option[value="{{ option }}"]').parent().val() == {{ option }}) {
                $('#opt-{{ category }}').parent().parent().removeClass('hidden-option');
            } else {
                $('#opt-{{ category }}').parent().parent().addClass('hidden-option');
                $('#opt-{{ category }}').val($('#opt-{{ category }} option:first').val());
                $("select#opt-{{ category }} option").removeAttr('selected');
                $("select#opt-{{ category }} option:not(:disabled)").first().attr("selected", "selected");
                $("select#opt-{{ category }}").data("selectBox-selectBoxIt").refresh();
                svg_color_change('svg-target', $('[name="opt[Color]"] option:selected').attr('data-color'));
            }
            {% endfor %}
        }


        $('#opt-Pattern').change(function(){
            selected = $(this).val();

            file_path = $('.svg-target').attr('imgsrc');

            filename = file_path.replace(/^.*[\\\/]/, '');
            url = '../upload/patterns/'+selected+'/'+filename;

            $('.svg-target').attr('imgsrc', url);
            $('.svg-target').attr('href', url);

            load_svg('.svg-target', url);
        });

        change_panel_price($(".sticky-centered"));
        change_panel_weight($(".sticky-centered"));
        $(".sticky-centered").change(function () {
            change_panel_price(this);
            change_panel_weight(this);
        });
    });
</script>