<div id="patterns-grid" class="product-use">
    {% for p in products %}
        <div class="pattern-item" data-id="{{ p.id }}">
            <div class="pattern-title">
                <a class="panel-link" href="/product?id={{ p.id }}">
                    {{ p.title }}
                </a>
            </div>
            <div class="pattern-image">
                {% if p.image %}
                    <a class="panel-link" href="/product?id={{ p.id }}">
                        <img src="/upload/photos/400/{{ p.image }}" alt="" />
                    </a>
                {% endif %}
            </div>
            <div class="pattern-menu">
                <span class="weight"><span class="note">weight</span> {{ p.weight }}lbs</span>
                <span class="price">${{ p.price }}</span>
                <!--<form class="product-form" method="get" action="/checkout_process.php">
                    <input type="hidden" name="a" value="cart-add" />
                    <input name="id" type="hidden" value="{{ p.id }}"/>
                    <input type="hidden" name="qty" value="1"/>
                    <button type="submit" class="prm-btn add-produt-cart">Buy</button>
                </form>-->
                <a class="prm-btn panel-link" href="/product?id={{ p.id }}">Buy</a>
            </div>
        </div>
    {% endfor %}
</div>
