<div id="patterns-grid" class="product-use">
    {% for page in subpages %}
        <div class="pattern-item" data-id="{{ page.id }}">
            <div class="pattern-image">
                {% if page.image %}
                <a class="panel-link" href="/{{ page.keyword }}">
                    <img src="/upload/photos/400/{{ page.image }}" alt="" />
                </a>
                {% endif %}
            </div>
            <div class="pattern-title">
                {{ page.title }}<br>
                <a class="panel-link" href="/{{ page.keyword }}">
                    <i class="fa fa-chevron-circle-right"></i> View Product
                </a>
            </div>
        </div>
    {% endfor %}
</div>
