<form id="panel-form" method="get" action="/checkout_process.php">
    <h5>{{ p.title }} Options</h5>
    <input type="hidden" name="a" value="cart-add" />
    <input name="id" type="hidden" value="{{ p.id }}"/>
    {% for category, option in options %}
        <div class="optioncontain">
            <h6>
                {{ category }}
                {% if option.cat.description %}
                    <a class="text-popup" title="{{ category }} Information" href="#catdesc-{{ option.cat.id }}"><i class="fa fa-info-circle"></i></a>
                {% endif %}
            </h6>
            {% if option.cat.description %}
                <div class="mfp-hide mfp-textcontain" id="catdesc-{{ option.cat.id }}">
                    {{ option.cat.description|raw }}
                </div>
            {% endif %}
            <label>
                <select class="purchase_options" id="opt-{{ category|replace({' ':'-'}) }}" name="opt[{{ category|replace({' ':'-'}) }}]">
                    {% for entry in option.opts %}
                        <option value="{{ entry.id }}"
                                {% if entry.id in currentopts %} selected="selected" {% endif %}
                                {% if entry.color_option %} data-color="{{ entry.color_option }}" {% endif %}
                                data-text='
                                {% if entry.color_option %}
                                    <span class="c-sample" style="background:#{{ entry.color_option }}"></span>
                                {% endif %}
                                {{ entry.title }}
                            '>
                            {{ entry.title }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>
    {% endfor %}
    <div class="optioncontain ">
        <h6>Quantity</h6>
        <input type="text" name="qty" value="1" class="shop-form-input"
               onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
    </div>
    <div id="patterns-grid">
        <div class="pattern-item" data-id="{{ p.id }}">
            <div class="pattern-image">
                <a href="#svg-{{ p.id }}" class="svg-thumb">
                    <svg class="svg-target" width="170" height="110" href="{{ p.image }}" imgsrc="{{ p.image }}"></svg>
                </a>
                <div class="mfp-hide" id="svg-{{ p.id }}">
                    <svg class="svg-target svg-zoom"  width="500" height="500" href="{{ p.image }}" imgsrc="{{ p.image }}"></svg>
                </div>
            </div>
            <div class="pattern-menu">
                <div class="weight"></div>
                <div class="price"></div>
            </div>
        </div>
    </div>
    <input type="submit" class="prm-btn" value="Add To Cart" />
</form>
<script type="text/javascript">
    var svgcolor = '{{ options['Color'][0].color_option }}';
    var hex = svgcolor;



    function optionchange() {
        //set counter so that multiple
        {% for oid,options in exclude_options %}
        {% for option in options %}
        var opt{{ option }} = 0;
        {% endfor %}
        {% endfor %}

        var hiddenoptions = new Array();

        {% for oid,options in exclude_options %}
        if($('select[name!="id"] option[value="{{ oid }}"]').parent().val() == {{ oid }}) {
            {% for option in options %}
            opt{{ option }}++;
            $('select[name!="id"] option[value="{{ option }}"]').attr('disabled','disabled');
            {% endfor %}
        }else{
            {% for option in options %}
            if(opt{{ option }}<1) {
                $('select[name!="id"] option[value="{{ option }}"]').removeAttr('disabled');
            }
            {% endfor %}
        }
        {% endfor %}

        $('select.purchase_options[name^="opt["]').each(function() {
            var enabledcount = $('option:not(:disabled)',this).length;
            if(enabledcount>0){
                $(this).parent().parent().removeClass('hidden-option');
            }else{
                $(this).parent().parent().addClass('hidden-option');
            }

            dom_id = '#'+$(this).attr('id');
            if($(this).val()===null) {
                $("select" + dom_id + " option").removeAttr('selected');
                $("select" + dom_id + " option:not(:disabled)").first().attr("selected", "selected");
            }
            $("select" + dom_id).data("selectBox-selectBoxIt").refresh();

        });


        {% for category,option in options_cat_display %}
        if ($('select[name!="id"] option[value="{{ option }}"]').parent().val() == {{ option }}) {
            $('#opt-{{ category }}').parent().parent().removeClass('hidden-option');
        } else {
            $('#opt-{{ category }}').parent().parent().addClass('hidden-option');
            $('#opt-{{ category }}').val($('#opt-{{ category }} option:first').val());
            $("select#opt-{{ category }} option").removeAttr('selected');
            $("select#opt-{{ category }} option:not(:disabled)").first().attr("selected", "selected");
            $("select#opt-{{ category }}").data("selectBox-selectBoxIt").refresh();
        }
        {% endfor %}
        svg_color_change('svg-target', $('option[data-color]:selected').attr('data-color'));
    }

    $(function () {


        $('#{{ svg_ref }}').change(function(){
            selected = $(this).val();
            console.log('change to: '+selected);

            file_path = $('.svg-target').attr('imgsrc');

            filename = file_path.replace(/^.*[\\\/]/, '');
            url = '/upload/patterns/'+selected+'/'+filename;

            $('.svg-target').attr('imgsrc', url);
            $('.svg-target').attr('href', url);

            $('.svg-target').each(function() {
                load_svg(this, url);
            });
        });


        change_panel_price($(".sticky-centered"));
        change_panel_weight($(".sticky-centered"));
        hex = $('option[data-color]:selected').attr('data-color');
        svg_color_change('svg-target',hex);
        optionchange();
        $(".sticky-centered").change(function () {
            change_panel_price(this);
            change_panel_weight(this);
            optionchange();
        });
    });
</script>