<div id="panel-form" class="filter-menu">
{% for cat, tag in tags %}
    <div class="filter-option">
        <h6>{{ cat }}</h6>

        <select name="{{ cat }}" id="cat_{{ loop.index }}" class="filters">
            <option value="">View All</option>
            {% for t in tag %}
                <option value="{{ t.safename }}">{{ t.title }}</option>
            {% endfor %}
        </select>
    </div>
{% endfor %}
</div>

<script>
    $(document).ready(function () {

        //$(".filters").selectBoxIt();

        $(".filters").each(function() {
            dom_id = '#'+$(this).attr('id');
            $(dom_id).selectBoxIt();
        });
    });
</script>