<div class="provider_search">
    <b>Find a training</b>

    <form action="/trainings" method="post" id="traininglookup" name="traininglookup">
        <input type="hidden" value="true" name="form_submit" />
        <select name="type">
            <option value="">All Categories</option>
            {% for t in types %}
                <option value="{{ t.id }}" {% if t.id == post.type %}selected="selected"{% endif %}>{{ t.title }}</option>
            {% endfor %}
        </select>
        <select name="location">
            <option value="">All locations</option>
            {% for l in locations %}
                <option value="{{ l.location }}" {% if l.location == post.location %}selected="selected"{% endif %}>{{ l.location }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search" value="{{ post.search }}" placeholder="Search" class="search_txt" style="width:250px;">
        <a href="javascript: document.traininglookup.submit();" title="Filter Results" id="update_results" class="btn btn-primary">Filter Results <i class="fa fa-search"></i></a>
    </form>
</div>

{% if trainings %}

    <div class="training-list">
        {% for t in trainings %}
<div class="row training-entry">
    <h3>{{ t.location }}</h3>
    <h4>{{ t.date_time }}</h4>
    <div class="col-md-8">
        <b>{{ t.presenter }}</b><br>
        {{ t.description|raw }}
        <div class="row">
            {% if t.alt_registration_url %}
            <div class="col-md-6">
            {% else %}
            <div class="col-md-12">
            {% endif %}
                {% if t.registration_url %}
                    <div class="register-link">
                        <h6>{{ t.registration_text }}</h6>
                        <a href="{{ t.registration_url }}" target="_blank" class="btn prm-btn">Register</a>
                    </div>
                {% endif %}
            </div>
            {% if t.alt_registration_url %}
                <div class="col-md-6">
                    <div class="register-link">
                        <h6>{{ t.alt_registration_text }}</h6>
                        <a href="{{ t.alt_registration_url }}" target="_blank" class="btn prm-btn">Register</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <p><b>Category:</b><br> {{ types[t.type].title }}</p>
        {% if t.venue %}
        <p><b>Venue:</b><br> {{ t.venue|nl2br }}</p>
        {% endif %}
        {% if t.cost %}
        <p><b>Cost:</b><br> {{ t.cost|nl2br }}</p>
        {% endif %}
    </div>
</div>
        {% endfor %}
    </div>
{% else %}
    <h3>No Results Found</h3>
{% endif %}