@charset "utf-8";
/* CSS Document */

body {
  background: #000;
  padding: 15px;
}
.CSS1Compat,
.cke_panel_frame {
  background: #000;
  line-height:100%;
}
#ckeditor .ds_gallery {
  width: 100%;
  border: #666 Dashed 3px;
  background: #333;
  text-align: center;
  padding: 50px 0px;
}

.row div{ border:dotted #333 1px; }